/*------------------------------------------------------------------
* Table of Content
* 1. Bootstrap Override
* 2. Customized to Bootstrap carousel
* 3. Bootstrap ScrollSpy
* 4. Another Bootstrap Toggle
* 5. Custom Checkbox and Radio By CSS
* 6. Slicknav - a Mobile Menu
* 7. Slick - a carousel plugin
* 8. Back To Top
* 9. FlexImage
* 10. Bootstrap-select
* 11. Selectize
-------------------------------------------------------------------*/


/**
 * Bootstrap Override
 */

.tooltip-inner {
    max-width: 400px;
    padding: 8px;
    color: #fff;
    background-color: #333;
    border-radius: 0;
    line-height: 1.2;
    font-size: 12px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #333;
}

.tooltip.top-left .tooltip-arrow {
    border-top-color: #333;
}

.tooltip.top-right .tooltip-arrow {
    border-top-color: #333;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #333;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #333;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #333;
}

.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #333;
}

.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #333;
}

.dropdown-menu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-ml .dropdown-menu {
    left: 10px;
}

.dropdown-right,
.dropdown-left {
    display: inline-block;
    position: relative;
}

.dropdown-right {
    padding-right: 10px;
}

.dropdown-left {
    padding-left: 10px;
    margin-left: -10px;
}

.dropdown-left + .dropdown-left {
    margin-left: 10px;
}

.dropdown-left .dropdown-inner {
    padding: 15px;
}

.dropdown-right .dropdown-menu {
    left: 100%;
    margin: 0;
    top: 0;
}

.dropdown-left .dropdown-menu {
    left: auto;
    right: 100%;
    margin: 0;
    margin-left: 15px;
    top: 0;
}

.dropdown-pointer .dropdown-menu {
    z-index: 12;
}

.dropdown-pointer .dropdown-menu:after {
    position: absolute;
    top: 12px;
    left: 100%;
    margin-left: -6px;
    content: '';
    display: block;
    pointer-events: none;
    visibility: visible;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 14px;
    height: 14px;
    background: #fff;
    z-index: 2;
    border-left: 1px solid #C8C8C8;
    border-top: 1px solid #C8C8C8;
}

.dropdown-title {
    border-bottom: 1px solid #CCC;
    padding: 12px 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}

.dropdown-footer {
    padding: 12px 15px;
}


/** .dropdown-toggle { -webkit-box-shadow: none !important; box-shadow: none !important; } */

.modal-content {
    border-radius: 0;
}

.modal-backdrop.fade.in {
    background: #333;
    opacity: 0.85;
    filter: alpha(opacity=80);
}

.panel {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none
}

.panel:last-child {
    border-bottom: none
}

.panel-group > .panel:first-child .panel-heading,
.panel-collapse.collapse.in .panel-body {
    border-radius: 0
}

.panel-group .panel {
    border-radius: 0
}

.panel-group .panel + .panel {
    margin-top: 0
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0
}

.panel-heading {
    background-color: #FFF;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0
}

.panel-heading.active,
.panel-heading.active .panel-title,
.panel-heading.active .panel-title a {
    border-bottom: 0
}

.panel-title {
    border: 0
}

.panel-title a {
    display: block;
    color: #333;
    padding: 0 0 10px;
    position: relative
}

.panel-body {
    background: #fff;
    padding: 10px 0 20px
}

.panel:last-child .panel-body {
    border-radius: 0
}

.panel:last-child .panel-heading {
    border-radius: 0;
    -webkit-transition: border-radius .3s linear .2s;
    transition: border-radius .3s linear .2s
}

.panel:last-child .panel-heading.active {
    border-radius: 0;
    -webkit-transition: border-radius linear 0;
    transition: border-radius linear 0
}

.panel-heading a:before {
    content: '\f055';
    position: absolute;
    font-family: 'FontAwesome';
    right: 0;
    top: 0;
    font-size: 16px;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.panel-heading.active a:before {
    content: '\f056';
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.panel-body ul,
.panel-body ol {
    list-style: disc;
    margin-left: 20px;
    line-height: 25px
}

.panel-body ul li,
.panel-body ol li {
    margin-bottom: 7px
}

.panel-body ul ul,
.panel-body ol ol {
    margin-top: 7px
}

.panel-body > ul,
.panel-body > ol {
    margin-bottom: 15px
}

.bootstarp-toggle .panel-heading a:after {
    content: '\f056';
    font-family: 'FontAwesome';
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s;
    transition: all .5s
}

.bootstarp-toggle .panel-heading.active a:after {
    content: '\f056';
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .5s;
    transition: all .5s
}

.bootstarp-accordion .panel-heading h4.panel-title {
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid #FFF;
}

.bootstarp-accordion .panel-heading h4 .panel-title a {
    color: #333;
}

.bootstarp-accordion .panel-heading h4.panel-title a:hover {
    color: #EDB200;
}

.bootstarp-accordion .panel-heading a:before {
    content: '\f106';
    font-family: 'FontAwesome';
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s;
    transition: all .5s
}

.bootstarp-accordion .panel-heading.active h4.panel-title {
    border-bottom: 1px solid #FFBF00;
}

.bootstarp-accordion .panel-heading.active h4.panel-title a:hover {
    color: #333;
    cursor: default;
}

.bootstarp-accordion .panel-heading.active a:before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .5s;
    transition: all .5s;
    color: #EDB200;
}


/**
 * Customized to Bootstrap carousel
*/

.carousel-control.right,
.carousel-control.left {
    background-image: none
}

.carousel .item {
    height: 100%;
    width: 100%
}

.carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px 15px 10px;
    text-align: left;
    text-shadow: none;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    line-height: 1.4;
}

.carousel-control,
.carousel-control:focus {
    color: #FFF;
    text-shadow: none;
    filter: alpha(opacity=70);
    opacity: .7;
}

.carousel-control:hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.carousel-control .carousel-control-left,
.carousel-control .carousel-control-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -30px;
    font-size: 56px
}

.carousel-control .carousel-control-left {
    left: 0
}

.carousel-control .carousel-control-right {
    right: 0
}


/**
 * Bootstrap ScrollSpy
 */

.scrollspy-sidebar.affix {
    position: static;
    margin-bottom: 30px
}

.scrollspy-sidenav {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 0;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
}

.scrollspy-sidebar .nav > li {
    margin-top: -2px;
}

.scrollspy-sidebar .nav > li > a {
    display: block;
    color: #636363;
    padding: 14px 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    line-height: 1;
    border-right: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-bottom: 1px solid #E8E8E8;
    margin-right: -1px;
    margin-left: -1px;
    margin-bottom: 1px;
    font-size: 12px
}

.scrollspy-sidebar .nav > li > h4 {
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 1px solid #E8E8E8;
    margin: 0;
    margin-left: -1px;
    padding: 14px 20px;
}

.scrollspy-sidebar .nav > li > a:hover {
    background: none;
    color: #EDB200;
    border-right: 1px solid #FFBF00;
    border-bottom: 1px solid #E8E8E8;
}

.scrollspy-sidebar .nav > li > a:focus {
    background: none;
    color: #636363;
    border-color: #EEE;
    border-bottom: 1px solid #E8E8E8;
}

.scrollspy-sidebar .nav > .active > a,
.scrollspy-sidebar .nav > .active:hover > a,
.scrollspy-sidebar .nav > .active:focus > a {
    font-weight: 600;
    color: #EDB200;
    background: none;
    border-right: 1px solid #FFBF00;
    border-bottom: 1px solid #E8E8E8;
}

.scrollspy-sidebar .nav > li:last-child > a {
    border-bottom: 0;
}

.scrollspy-sidebar .nav > li > ul {
    border-bottom: 1px solid #E8E8E8;
    margin-top: 15px;
    padding-bottom: 15px;
}

.scrollspy-sidebar .nav > li > ul > li > a {
    border: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    font-size: 90%;
    border-bottom: 0 !important;
}

.scrollspy-sidebar .nav .nav {
    display: none;
    margin-bottom: 8px;
}

ul.scrollspy-sidenav > li.active .sidebar-menu-child {
    display: block
}

ul.scrollspy-sidenav > li.always-active .sidebar-menu-child {
    display: block!important
}

ul.scrollspy-sidenav > li.always-active > a {
    color: #EDB200;
    padding-left: 20px!important
}

ul.scrollspy-sidenav > li.always-active > a:after {
    left: 0;
    color: #EDB200
}

@media (min-width: 992px) {
    .scrollspy-sidebar .nav > .active > ul {
        display: block
    }
    .scrollspy-sidebar.affix,
    .scrollspy-sidebar.affix-bottom {
        width: 213px
    }
    .scrollspy-sidebar.affix {
        position: fixed;
        top: 80px
    }
    .scrollspy-sidebar.affix-bottom {
        position: absolute
    }
    .scrollspy-sidebar.affix-bottom .scrollspy-sidenav,
    .scrollspy-sidebar.affix .scrollspy-sidenav {
        margin-bottom: 50px
    }
}

@media (min-width: 1200px) {
    .scrollspy-sidebar.affix-bottom,
    .scrollspy-sidebar.affix {
        width: 263px
    }
}


/**
 * Another Bootstrap Toggle
 */

.another-toggle-wrapper {
    margin: 0;
}

.another-toggle {
    display: block;
    margin: 0 0 1px;
}

.another-toggle h4 {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding: 0;
    padding-right: 20px;
    line-height: 20px;
    margin: 0;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.another-toggle h4:after {
    font-family: FontAwesome;
    content: "\f067";
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 2px;
    color: #888;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.another-toggle h4.active {
    color: #99549C;
}

.another-toggle h4.active:after {
    content: "\f068";
}

.another-toggle .another-toggle-content {
    display: none;
    background: #FFF;
}

.another-toggle .another-toggle-inner {}


/**
 * Custom Checkbox and Radio By CSS
 */

.checkbox-block label,
.radio-block label {
    display: block;
}

.radio-inline,
.checkbox-inline {
    padding: 0;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: 5px;
}

input[type='radio'],
input[type='checkbox'] {
    /*opacity: 0;*/
    /*display: none;*/
    float: left;
    width: 18px;
}
.radio {
    opacity: 0;
    display: none;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
    margin: 0;
    clear: none;
    padding: 5px 0 4px 24px;
    cursor: pointer;
    font-weight: 400;
}

input[type='radio'] + label {
    /*background: url(images/radio_unchecked.png) left center no-repeat;*/
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type='radio']:checked + label {
    /*background: url(images/radio_checked.png) left center no-repeat;*/
}

input[type='checkbox'] + label {
    /*background: url(images/checkbox_unchecked.png) left center no-repeat;*/
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type='checkbox']:checked + label {
    /*background: url(images/checkbox_checked.png) left center no-repeat;*/
}

.checkbox-featured input[type='checkbox'] + label {
    background: transparent;
    padding: 0;
    padding: 30px 20px;
    text-align: center;
    border: 1px solid #CCC;
    font-weight: 400;
}

.checkbox-featured input[type='checkbox'] + label .icon {
    display: block;
    font-size: 24px;
}

.checkbox-featured input[type='checkbox'] + label .heading {
    display: block;
    font-weight: 600;
    margin: 8px 0 8px;
    font-size: 16px;
}

.checkbox-featured input[type='checkbox']:checked + label {
    border: 1px solid #DB5C1E;
    background: #DB5C1E;
    color: #FFF;
}

.radio-featured input[type='radio'] + label {
    background: transparent;
    padding: 0;
    padding: 30px 20px;
    text-align: center;
    border: 1px solid #CCC;
    font-weight: 400;
}

.radio-featured input[type='radio'] + label .icon {
    display: block;
    font-size: 24px;
}

.radio-featured input[type='radio'] + label .heading {
    display: block;
    font-weight: 600;
    margin: 8px 0 8px;
    font-size: 16px;
}

.radio-featured input[type='radio']:checked + label {
    border: 1px solid #DB5C1E;
    background: #DB5C1E;
    color: #FFF;
}


/*
 * Slicknav - a Mobile Menu
*/

.slicknav_menu {
    display: none;
}

.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
}

.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
}

.slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_no-text {
    margin: 0
}

.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em
}

.slicknav_nav {
    clear: both
}

.slicknav_nav ul,
.slicknav_nav li {
    display: block
}

.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
    cursor: pointer;
}

.slicknav_nav .slicknav_row {
    display: block;
}

.slicknav_nav a {
    display: block
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    display: inline
}

.slicknav_menu:before,
.slicknav_menu:after {
    content: " ";
    display: table;
}

.slicknav_menu:after {
    clear: both
}


/* IE6/7 support */

.slicknav_menu {
    *zoom: 1
}


/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size: 16px;
}


/* Button */

.slicknav_btn {
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 17px;
    right: 20px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


/* background color for responsive button */

.slicknav_btn.slicknav_open:before {
    font-family: 'Ionicons';
    content: "\f2d7"
}

.slicknav_btn.slicknav_collapsed:before {
    font-family: 'Ionicons';
    content: "\f394"
}

.slicknav_btn.slicknav_open,
.slicknav_btn.slicknav_collapsed,
.slicknav_btn.slicknav_open:before,
.slicknav_btn.slicknav_collapsed:before {
    text-decoration: none !important;
    color: #555;
    border: none;
}

.slicknav_btn.slicknav_open:before,
.slicknav_btn.slicknav_collapsed:before {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.slicknav_btn.slicknav_open:hover:before,
.slicknav_btn.slicknav_collapsed:hover:before {
    color: #FFF;
}

.slicknav_menutxt {
    line-height: 22px !important;
}

.slicknav_btn:focus {}


/* Button Text */

.slicknav_menu .slicknav_menutxt {
    color: #DFF2F2;
    font-weight: 400;
    font-size: 14px;
}


/* Button Lines */

.slicknav_menu .slicknav_icon-bar {
    background-color: #f5f5f5
}

.slicknav_menu {
    background: #C9C9C9;
    padding: 0;
    margin-top: 0;
}

.slicknav_nav {
    color: #333;
    margin: 0;
    padding: 0;
    font-size: .875em
}

.slicknav_nav,
.slicknav_nav ul {
    list-style: none;
    overflow: hidden
}

.slicknav_nav ul {
    padding: 0;
    margin: 0;
}

.slicknav_nav ul li {
    border-bottom: 0;
}

.slicknav_nav .slicknav_row {
    padding: 0;
    margin: 0;
}

.slicknav_nav a {
    padding: 10px 15px;
    margin: 0;
    text-decoration: none;
    color: #333;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding: 10px 15px;
    margin: 0;
}

.slicknav_nav .slicknav_item {
    position: relative;
}

.slicknav_nav .slicknav_item a {
    border-bottom: none;
    display: block;
}

.slicknav_nav ul li {
    padding-left: 0;
    background: #C9C9C9;
}

.slicknav_nav ul li li {
    padding-left: 0;
}

.slicknav_nav ul li ul {
    padding-left: 0;
    padding-right: 0;
}

.slicknav_nav ul li ul a {
    padding: 5px 25px;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #BDBDBD;
    color: #333
}

.slicknav_nav a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #BDBDBD;
}

.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;
}

.slicknav_nav .slicknav_arrow {
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 13px;
    width: 50px;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}


/* plus-minus or arrow sign */

.slicknav_nav .slicknav_arrow:hover {
    background: rgba(255, 255, 255, 0.05);
}

.slicknav_menu .slicknav_icon {
    display: none;
}

@media only screen and (max-width: 991px) {
    #responsive-menu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
}


/**
 * Slick - a carousel plugin
 */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}


/* Slider */

.slick-loading .slick-list {
    background: #fff url(images/slick-loader.gif) center center no-repeat
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0
}

.slick-prev:before,
.slick-next:before {
    font-family: 'Pe-icon-7-stroke';
    font-size: 54px;
    line-height: 1;
    opacity: .5;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: -55px
}

[dir='rtl'] .slick-prev {
    right: -40px;
    left: auto
}

.slick-prev:before {
    content: '\e686'
}

[dir='rtl'] .slick-prev:before {
    content: '\e684'
}

.slick-next {
    right: -40px
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -40px
}

.slick-next:before {
    content: '\e684'
}

[dir='rtl'] .slick-next:before {
    content: '\e686'
}


/* Dots */

.slick-slider {
    margin: 0
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '';
    opacity: .25;
    background: black;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    background: black
}

.slick-slide .image {
    padding: 2px;
}

.slick-slide img {
    display: block;
    width: 100%;
}

.slick-slide img.slick-loading {
    border: 0
}

.slider h3 {
    color: #fff;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

.variable-width .slick-slide p {
    height: 100px;
    color: #FFF;
    margin: 5px;
    line-height: 100px;
}

.variable-width .image {
    height: 100%;
}

.variable-width .image img {
    display: block;
    height: 100%;
    width: 100%;
}

.slick-center-mode .slick-center h3 {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
}

.slick-center h3 {
    opacity: 0.8;
    transition: all 300ms ease;
}

.slick-content {
    margin: auto;
    padding: 20px;
    width: 600px;
}

.slick-content:after,
.buttons::after {
    clear: both;
    content: "";
    display: table;
}

.slick-center-mode .slick-center .image {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
}

.slick-center-mode .image {
    opacity: 0.3;
    transition: all 300ms ease;
    padding: 10px;
}

.slick-center-mode .image:hover {
    cursor: pointer;
}

.slick-content {
    margin: auto;
    padding: 20px;
    width: 600px;
}

.slick-content:after,
.buttons::after {
    clear: both;
    content: "";
    display: table;
}

.slick-center-mode img {
    border: 2px solid #FFF;
    display: block;
    width: 100%;
}

.slider-for {
    margin-bottom: 1px;
}

.slider-for .image {
    padding: 0;
}

.slider-nav .image {
    padding: 0;
    border: 1px solid transparent;
    opacity: 0.5;
    transition: all 300ms ease;
}

.slider-nav .slick-center .image {
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    opacity: 1;
    border-color: red;
}

.slider-nav .image:hover {
    cursor: pointer;
}

.variable-width .image {
    padding: 0;
    border: 1px solid transparent;
    opacity: 0.5;
    transition: all 300ms ease;
}

.variable-width .slick-center .image {
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    opacity: 1;
    border-color: red;
}

.variable-width .image:hover {
    cursor: pointer;
}


/**
 * Back To Top
 */

#back-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 11px;
    right: 30px;
    display: none;
}

#back-to-top a {
    display: block;
    width: 30px;
    height: 30px;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
    border: 1px solid #CCC;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
    color: #BBB;
}

#back-to-top a:hover {
    background: #FFBF00;
    color: #333;
    border-color: #FFBF00;
}

@media only screen and (max-width: 1199px) {
    #back-to-top {
        bottom: 65px;
    }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    #back-to-top {
        bottom: 80px;
        right: 5px;
    }
}

@media (max-width: 479px) {}


/**
 * FlexImage
 */

.flex-images {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
}

.flex-images .item {
    float: left;
    margin: 5px;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
}

.flex-images .item img {
    display: block;
    width: auto;
    height: 100%;
}


/*
 * Bootstrap-select v1.9.4 (http://silviomoreto.github.io/bootstrap-select)
 * Copyright 2013-2016 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */

.bootstrap-select {
    width: 220px \0
}

.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1
}

.bootstrap-select > select {
    position: absolute!important;
    bottom: 0;
    left: 50%;
    width: .11px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none
}

.bootstrap-select > select.mobile-device {
    top: 0;
    left: 0;
    display: block!important;
    width: 100%!important;
    z-index: 2
}

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48
}

.bootstrap-select.fit-width {
    width: auto!important
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 220px
}

.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333333!important;
    outline: 5px auto -webkit-focus-ring-color!important;
    outline-offset: -2px
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none
}

.bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%
}

.bootstrap-select.form-control.input-group-btn {
    z-index: auto
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
    float: right
}

.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
    margin-bottom: 0
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0
}

.form-inline .bootstrap-select.btn-group .form-control {
    width: 100%
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
    cursor: not-allowed
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
    outline: none!important
}

.bootstrap-select.btn-group.bs-container {
    position: absolute
}

.bootstrap-select.btn-group.bs-container .dropdown-menu {
    z-index: 1060
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle
}

.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
    width: 100%
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.bootstrap-select.btn-group .dropdown-menu li {
    position: relative
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
    color: #fff
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
    cursor: not-allowed
}

.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding-left: 2.25em
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block
}

.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: .5em;
}

.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    opacity: .9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
    position: static
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
    position: static;
    top: auto;
    margin-top: -1px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
    z-index: 1061
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(204, 204, 204, 0.2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-top: 7px solid rgba(204, 204, 204, 0.2);
    border-bottom: 0
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid white;
    border-bottom: 0
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
    display: block
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
    padding: 4px 8px
}

.bs-actionsbox {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bs-actionsbox .btn-group button {
    width: 50%
}

.bs-donebutton {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bs-donebutton .btn-group button {
    width: 100%
}

.bs-searchbox + .bs-actionsbox {
    padding: 0 8px 4px
}

.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none
}


/* Customized  */

.bootstrap-select .dropdown-toggle {
    border-radius: 0;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 0;
    height: 40px;
    border-color: #CCC;
    font-size: 14px;
    line-height: 1.42857143;
    color: #999;
}

.bootstrap-select .dropdown-toggle small {
    color: #888;
    font-size: 80%
}

.bootstrap-select .dropdown-toggle .fa {
    margin-right: 5px;
}

.bootstrap-select .dropdown-toggle:hover {
    background: none;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
    outline-offset: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bootstrap-select .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.bootstrap-select .btn.btn-default {
    background: #FFF;
    color: #999;
    border-color: #DEDEDE;
    padding: 8px 12px;
    padding-top: 9px;
}

.bootstrap-select .btn:focus,
.bootstrap-select .btn:active:focus,
.bootstrap-select .btn.active:focus,
.bootstrap-select .btn.focus,
.bootstrap-select .btn:active.focus,
.bootstrap-select .btn.active.focus {
    outline: 0 !important;
    outline-offset: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bootstrap-select .btn-default,
.bootstrap-select .btn-default:focus,
.bootstrap-select .btn-default.focus {
    color: #333;
    background: none;
    border-color: #8c8c8c;
}

.bootstrap-select.open > .dropdown-toggle.btn-default,
.bootstrap-select.open > .dropdown-toggle.btn-default:hover,
.bootstrap-select.open > .dropdown-toggle.btn-default:focus,
.bootstrap-select.open > .dropdown-toggle.btn-default.focus {
    color: #555;
    background: none;
    border-color: #FFBF00;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bootstrap-select .dropdown-menu {
    border-radius: 0;
    border-color: #E5E5E5;
    padding: 0;
    margin: 0;
}

.bootstrap-select .dropdown-menu li a {
    padding: 10px 15px;
    line-height: 1.2;
    border-bottom: 1px solid #EBEBEB;
}

.bootstrap-select .dropdown-toggle .caret {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #AAA transparent transparent transparent;
}

.bootstrap-select.open .dropdown-toggle .caret {
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #FFBF00;
}

.bootstrap-select .dropdown-menu li.selected a {
    color: #868686;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    font-size: 10px;
    line-height: 1;
    top: 11px;
    right: 10px;
    margin: 0;
    color: #FFBF00;
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    padding-left: 15px;
}

.bootstrap-select .dropdown-header {
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
    background: #EDEDED;
}

.bootstrap-select .text-muted {}

.bootstrap-select .divider {
    background: #EBEBEB;
    height: 2px;
    margin: 0;
    padding: 0;
}

.bootstrap-select.btn-group .no-results {
    padding: 5px 10px;
    line-height: 1.2;
    background: #FFF;
    margin: 0;
    white-space: nowrap;
    color: orange;
}

.bootstrap-select .dropdown-menu .form-control {
    height: 30px;
    font-size: 12px;
    margin: 3px 0 0;
}

.bootstrap-select.btn-group .dropdown-menu li .fa {
    font-size: 12px;
    margin-right: 7px;
}

.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: 7px;
    font-size: 85%;
    opacity: 0.8;
}

.bootstrap-select .dropdown-menu li.selected a small {
    color: red;
}

.bootstrap-select .bs-donebutton .btn-group.btn-block {}

.bootstrap-select .bs-donebutton .btn.btn-sm.btn-default {
    font-size: 12px;
    font-weight: 700;
    padding: 6px 15px;
    letter-spacing: 1px;
    height: 30px;
    margin: 5px 0;
    background: #FFBF00;
    border-color: #FFBF00;
    color: #FFF !important;
}

.bootstrap-select .bs-donebutton .btn.btn-sm.btn-default:hover {
    background: #EDB200;
    border-color: #EDB200;
}

.input-group-sm .bootstrap-select .btn.btn-default {
    font-size: 12px;
    padding-top: 5px;
}

.input-group-sm .bootstrap-select .dropdown-menu li a {
    font-size: 12px;
    padding: 7px 12px;
}

.input-group-sm .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    font-size: 8px;
    top: 10px;
}

.input-group-sm .bootstrap-select .dropdown-toggle .caret {
    border-width: 5px 3px 0 3px;
}

.input-group-sm .bootstrap-select.open .dropdown-toggle .caret {
    border-width: 0 3px 5px 3px;
}


/**
 * selectize.bootstrap3.css (v0.12.1) - Bootstrap 3 Theme
 * Copyright (c) 2013â€“2015 Brian Reavis & contributors
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0  
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 * @author Brian Reavis <brian@thirdroute.com>
 */

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
    visibility: visible!important;
    background: #f2f2f2!important;
    background: rgba(0, 0, 0, 0.06)!important;
    border: 0 none!important;
    -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
    box-shadow: inset 0 0 12px 4px #ffffff
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
    content: '!';
    visibility: hidden
}

.selectize-control.plugin-drag_drop .ui-sortable-helper {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.selectize-dropdown-header {
    position: relative;
    padding: 3px 12px;
    border-bottom: 1px solid #d0d0d0;
    background: #f8f8f8;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.selectize-dropdown-header-close {
    position: absolute;
    right: 12px;
    top: 50%;
    color: #333333;
    opacity: .4;
    margin-top: -12px;
    line-height: 20px;
    font-size: 20px!important
}

.selectize-dropdown-header-close:hover {
    color: #000000
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
    border-right: 1px solid #f2f2f2;
    border-top: 0 none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
    border-right: 0 none
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
    display: none
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
    border-top: 0 none
}

.selectize-control.plugin-remove_button [data-value] {
    position: relative;
    padding-right: 24px!important
}

.selectize-control.plugin-remove_button [data-value] .remove {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 1px 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
    background: rgba(0, 0, 0, 0.05)
}

.selectize-control.plugin-remove_button [data-value].active .remove {
    border-left-color: rgba(0, 0, 0, 0)
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
    background: none
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
    border-left-color: rgba(77, 77, 77, 0)
}

.selectize-control {
    position: relative
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
    color: #333333;
    font-family: inherit;
    font-size: inherit;
    line-height: 20px;
    -webkit-font-smoothing: inherit
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
    background: #ffffff;
    cursor: text;
    display: inline-block
}

.selectize-input {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.selectize-control.multi .selectize-input.has-items {
    padding: 5px 12px 2px
}

.selectize-input.full {
    background-color: #ffffff
}

.selectize-input.disabled,
.selectize-input.disabled * {
    cursor: default!important
}

.selectize-input.focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15)
}

.selectize-input.dropdown-active {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.selectize-input > * {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 1px 3px;
    background: #efefef;
    color: #333333;
    border: 0 solid rgba(0, 0, 0, 0)
}

.selectize-control.multi .selectize-input > div.active {
    background: #428bca;
    color: #ffffff;
    border: 0 solid rgba(0, 0, 0, 0)
}

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
    color: #808080;
    background: #ffffff;
    border: 0 solid rgba(77, 77, 77, 0)
}

.selectize-input > input {
    display: inline-block!important;
    padding: 0!important;
    min-height: 0!important;
    max-height: none!important;
    max-width: 100%!important;
    margin: 0!important;
    text-indent: 0!important;
    border: 0 none!important;
    background: none!important;
    line-height: inherit!important;
    -webkit-user-select: auto!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.selectize-input > input::-ms-clear {
    display: none
}

.selectize-input > input:focus {
    outline: none!important
}

.selectize-input::after {
    content: ' ';
    display: block;
    clear: left
}

.selectize-input.dropdown-active::before {
    content: ' ';
    display: block;
    position: absolute;
    background: #ffffff;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0
}

.selectize-dropdown {
    position: absolute;
    z-index: 10;
    border: 1px solid #d0d0d0;
    background: #ffffff;
    margin: -1px 0 0;
    border-top: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden
}

.selectize-dropdown [data-selectable] .highlight {
    background: rgba(255, 237, 40, 0.4);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
    padding: 3px 12px
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none
}

.selectize-dropdown .optgroup-header {
    color: #777777;
    background: #ffffff;
    cursor: default
}

.selectize-dropdown .active {
    background-color: #f5f5f5;
    color: #262626
}

.selectize-dropdown .active.create {
    color: #262626
}

.selectize-dropdown .create {
    color: rgba(51, 51, 51, 0.5)
}

.selectize-dropdown-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
    cursor: pointer
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
    cursor: text
}

.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #333333 transparent transparent;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}


/* change arrow here */

.selectize-control.single .selectize-input.dropdown-active:after {
    margin-top: -4px;
    border-width: 0 5px 5px;
    border-color: transparent transparent #333333
}

.selectize-control.rtl.single .selectize-input:after {
    left: 17px;
    right: auto
}

.selectize-control.rtl .selectize-input > input {
    margin: 0 4px 0 -2px !important
}

.selectize-control .selectize-input.disabled {
    opacity: .5;
    background-color: #ffffff
}

.selectize-dropdown,
.selectize-dropdown.form-control {
    height: auto;
    padding: 0;
    margin: 2px 0 0;
    z-index: 1000;
    background: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

.selectize-dropdown .optgroup-header {
    font-size: 12px;
    line-height: 1.42857143
}

.selectize-dropdown .optgroup:first-child:before {
    display: none
}

.selectize-dropdown .optgroup:before {
    content: ' ';
    display: block;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    margin-left: -12px;
    margin-right: -12px
}

.selectize-dropdown-content {
    padding: 5px 0
}

.selectize-dropdown-header {
    padding: 6px 12px
}

.selectize-input {
    min-height: 34px
}

.selectize-input.dropdown-active {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.selectize-input.dropdown-active::before {
    display: none
}

.selectize-input.focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.has-error .selectize-input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.has-error .selectize-input:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483
}

.selectize-control.multi .selectize-input.has-items {
    padding-left: 9px;
    padding-right: 9px
}

.selectize-control.multi .selectize-input > div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.form-control.selectize-control {
    padding: 0;
    height: auto;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.selectize-control.repositories .selectize-dropdown > div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.selectize-control.repositories .selectize-dropdown .by {
    font-size: 11px;
    opacity: .8
}

.selectize-control.repositories .selectize-dropdown .by::before {
    content: 'by '
}

.selectize-control.repositories .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px
}

.selectize-control.repositories .selectize-dropdown .title {
    display: block
}

.selectize-control.repositories .selectize-dropdown .description {
    font-size: 12px;
    display: block;
    color: #a0a0a0;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden
}

.selectize-control.repositories .selectize-dropdown .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px
}

.selectize-control.repositories .selectize-dropdown .meta li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px
}

.selectize-control.repositories .selectize-dropdown .meta li span {
    font-weight: bold
}

.selectize-control.repositories::before {
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 12px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(http://crenoveative.com/envato/microphy/css/images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0
}

.selectize-control.repositories.loading::before {
    opacity: .4
}

.selectize-control.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-size: 16px 16px;
    margin: 0 3px 0 0
}

.icon.fork {
    background-image: url(http://crenoveative.com/envato/microphy/css/images/repo-fork.png)
}

.icon.source {
    background-image: url(http://crenoveative.com/envato/microphy/css/images/repo-source.png)
}

.selectize-control.movies .selectize-dropdown [data-selectable] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 60px;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 10px 10px 60px
}

.selectize-control.movies .selectize-dropdown [data-selectable]:last-child {
    border-bottom: 0 none
}

.selectize-control.movies .selectize-dropdown .by {
    font-size: 11px;
    opacity: .8
}

.selectize-control.movies .selectize-dropdown .by::before {
    content: 'by '
}

.selectize-control.movies .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px
}

.selectize-control.movies .selectize-dropdown .description {
    font-size: 12px;
    color: #a0a0a0
}

.selectize-control.movies .selectize-dropdown .actors,
.selectize-control.movies .selectize-dropdown .description,
.selectize-control.movies .selectize-dropdown .title {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

.selectize-control.movies .selectize-dropdown .actors {
    font-size: 10px;
    color: #a0a0a0
}

.selectize-control.movies .selectize-dropdown .actors span {
    color: #606060
}

.selectize-control.movies .selectize-dropdown img {
    height: 60px;
    left: 10px;
    position: absolute;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.04)
}

.selectize-control.movies .selectize-dropdown .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px
}

.selectize-control.movies .selectize-dropdown .meta li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px
}

.selectize-control.movies .selectize-dropdown .meta li span {
    font-weight: bold
}

.selectize-control.movies::before {
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 12px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(http://crenoveative.com/envato/microphy/css/images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0
}

.selectize-control.movies.loading::before {
    opacity: .4
}

.demo-animals .scientific {
    font-weight: normal;
    opacity: .3;
    margin: 0 0 0 2px
}

.demo-animals .scientific::before {
    content: '('
}

.demo-animals .scientific::after {
    content: ')'
}


/* Customized  */

.selectize-input {
    padding: 6px 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.selectize-input.focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.selectize-input:focus {
    border-color: red;
}