.admin-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.admin-images img {
    margin-right: 10px;
}

.discount_price {
    color: red;
    font-size: 20px;
}

.total_price {
    font-size: 20px;
}
