/*------------------------------------------------------------------
* Table of Content
* 1. Header
* 2. Navbar Mini
* 3. Sticky Header
* 4. Hero
* 5. Main Search Form
* 6. Category
* 7. About Us
* 8. Contributor or Author
* 9. Featured
* 10. Breadcrumb
* 11. Filter
* 12. Category Page
* 13. Detail Page
* 14. Testimonial
* 15. Sidebar
* 16. Image Overlay
* 17. flex-video
* 18. Pager
* 19. Pricing
* 20. Tab
* 22. Upload Page
* 23. Blog
* 24. Footer
* 25. Login Modal
* 26. Social Share
* 27. Contact Us
* 28. Faq Page
* 29. Static Page
-------------------------------------------------------------------*/


/**
 * Header
 */

.navbar-default {
    background: #616161;
}

.navbar {
    border-bottom: 0;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.navbar-brand {
    float: left;
    font-size: 16px;
    line-height: 32px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    padding-top: 13px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    margin-right: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.navbar-brand i {
    font-size: 20px;
    display: block;
    margin-top: 6px;
    float: left;
    margin-right: 5px;
}

.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 0.65);
}

.navbar-default .navbar-brand:hover {
    color: rgba(255, 255, 255, 1);
}


/* .navbar-brand:after { content:""; width: 6px; height: 6px; border-radius: 50%; background: #4371A1; display: inline-block; margin-left: 5px; } */

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 0
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

.navbar-nav {
    border-left: 1px solid rgba(255, 255, 255, 0.3)
}

.navbar-nav > li > a {
    line-height: 56px;
    font-weight: 400;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav > .active > a {
    color: #616161;
    background-color: #F0F0F0;
}


/* Main Menu Dropdown */

.navbar-nav li {
    position: relative;
}

.navbar-nav li ul {
    z-index: 9999;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 56px;
    left: 0;
    width: 190px;
    display: none;
    background-color: #F2F2F2;
    border: 1px solid #E5E5E5;
    border-top: none;
}

.navbar-nav li ul li a {
    border-bottom: 1px solid #E5E5E5;
    display: block;
    padding: 8px 15px;
    font-size: 13px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    font-weight: 400;
    color: #868686;
}

.navbar-nav li > ul > li:last-child > a,
.navbar-nav li > ul > li > ul > li:last-child > a {
    border-bottom: 0;
}

.navbar-nav li ul li:hover a {
    padding-left: 20px;
    padding-right: 10px;
}

.navbar-nav li ul li ul {
    position: absolute;
    top: 0;
    left: 188px;
    box-shadow: -10px 1px 20px rgba(0, 0, 0, 0.1);
}

.navbar-nav li ul li:hover ul li a {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav li ul li ul li:hover a {
    padding-left: 20px;
    padding-right: 10px;
}


/* Mega Menu */

.navbar-nav > li.mega-menu {
    position: inherit!important;
    left: 0;
}

.navbar-nav > li.mega-menu ul {
    left: 0%;
    width: 100%;
    top: 56px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-arrow > ul > li .arrow-indicator {
    margin-left: 7px;
    color: #CCC;
}

.navbar-arrow ul ul > li .arrow-indicator {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
    font-size: 16px;
    color: #CCC;
}

.megamenu-container .arrow-indicator {
    display: none !important;
}

@media only screen and (max-width: 1199px) {
    .navbar-nav {
        padding-left: 15px;
    }
    .navbar-nav > li > a {
        padding-left: 15px;
        padding-right: 15px;
        border-right: 0;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-default {
        height: 40px;
        margin-bottom: 0;
    }
    .navbar-brand {
        padding-top: 8px;
        padding-bottom: 0;
        line-height: 30px;
    }
    .navbar-arrow > ul > li .arrow-indicator,
    .navbar-arrow ul ul > li .arrow-indicator {
        display: none !important;
    }
    .navbar-fixed-top {
        position: relative !important;
        clear: both;
    }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 23px;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        margin: 0;
    }
}


/**
 * Navbar Mini
 */

.navbar-mini {}

.navbar-mini > ul {
    line-height: 55px;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.navbar-mini > ul > li {
    float: left;
    margin-left: 15px;
}

.navbar-mini > ul > li:last-child {
    border-right: none;
}

.navbar-mini > ul > li > a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-mini > ul > li > a.btn {
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: 10px;
    border: 1px solid #FFBF00 !important;
    background: none;
    font-weight: 700;
    color: #314C82;
    background: #FFBF00;
}

.navbar-mini > ul > li > a.btn:hover {
    background: #EDB200;
    border-color: #EDB200 !important;
}

.navbar-mini .dropdown-menu {
    min-width: 80px;
    margin: 0;
}

.navbar-mini .dropdown-menu > li > a {
    padding: 3px 10px;
    font-size: 12px;
}

.navbar-mini .dropdown-menu > li:first-child > a {
    padding-top: 3px;
}

.navbar-mini .dropdown-menu > li:last-child > a {
    padding-bottom: 3px;
}

.navbar-mini .dropdown-menu > li > a:hover,
.navbar-mini .dropdown-menu > li:hover > a,
.navbar-mini .dropdown-menu > li > a:focus {
    color: #FFBF00 !important;
    background: none !important;
}

.navbar-mini .dropdown-menu {
    padding: 10px !important;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .navbar-mini {
        margin-right: 40px;
    }
    .navbar-mini > ul {
        line-height: 48px;
    }
}

@media (max-width: 767px) {
    .navbar-mini {
        margin: 0;
        position: absolute;
        top: 0;
        right: 55px;
    }
}

@media (max-width: 479px) {
    .navbar-mini {
        right: 50px;
    }
    .navbar-mini > ul > li > a.btn {
        padding-top: 6px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/**
 * Sticky Header
 */

.navbar-sticky {
    background: #616161;
    border-color: #e6e6e6;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.12);
}

.navbar-sticky.navbar-default {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-sticky .navbar-brand {
    padding-bottom: 0;
    padding-top: 8px;
    color: rgba(255, 255, 255, 0.65);
}

.navbar-sticky .navbar-brand:hover,
.navbar-sticky .navbar-brand:focus {
    color: #4D82B8;
    background-color: transparent
}

.navbar-sticky .navbar-text {
    color: #565656
}

.navbar-sticky .navbar-nav > li > a {
    line-height: 50px;
}

.navbar-sticky .navbar-nav > li > a:hover,
.navbar-sticky .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: transparent
}

.navbar-sticky .navbar-nav > .active > a,
.navbar-sticky .navbar-nav > .active > a:hover,
.navbar-sticky .navbar-nav > .active > a:focus {
    color: #4D82B8;
    background-color: transparent;
    color: #616161;
    background: #F0F0F0;
}

.navbar-sticky .navbar-nav > .disabled > a,
.navbar-sticky .navbar-nav > .disabled > a:hover,
.navbar-sticky .navbar-nav > .disabled > a:focus {
    color: #F;
    background-color: transparent
}

.navbar-sticky .navbar-nav > .active > a:hover,
.navbar-sticky .navbar-nav:hover > .active > a {
    color: #BABABA !important;
}

.navbar-sticky .navbar-nav > li.navbar-separator span:after {
    background: #4D82B9;
}

.navbar-sticky .navbar-mini > ul {
    line-height: 49px;
}

.navbar-sticky.navbar-default .navbar-nav > .active > a {
    color: #616161;
    background: #F0F0F0;
}

.navbar-sticky .navbar-nav > li > ul {
    top: 50px;
}

.navbar-sticky .navbar-nav > li.mega-menu ul {
    top: 60px;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .navbar-sticky .navbar-brand {
        padding-top: 8px;
    }
    .navbar-sticky .navbar-mini > ul {
        line-height: 48px;
    }
}

@media (max-width: 767px) {
    .navbar-sticky .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #EAEAEA;
    }
    .navbar-sticky .navbar-nav > li:first-child > a {
        padding-top: 3px;
    }
    .navbar-sticky .navbar-nav > li:last-child > a {
        border-bottom: none;
    }
}

@media (max-width: 479px) {}


/**
 * Hero
 */

.hero {
    position: relative;
    padding: 125px 0 125px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hero.stellar-parallax-bg {
    background-position: bottom center;
}

.hero h1 {
    margin-top: 0;
    font-size: 40px;
    color: #FFF;
    font-weight: 400;
    line-height: 52px;
    margin: 0 0 25px;
}

.hero p {
    color: white;
}

.hero p.p-title {
    font-size: 21px;
    line-height: 27px;
    font-weight: 300;
}

@media only screen and (max-width: 1199px) {
    .hero {
        background-size: auto;
    }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .hero {
        padding: 40px 0;
    }
		.hero::before {
				background: rgba(0, 0, 0, 0.6);
		}
    .hero h1 {
        font-size: 32px;
        line-height: 1.2;
        margin: 0 0 10px;
				font-weight: 700;
    }
    .hero p.p-title {
        font-size: 17px;
        line-height: 1.35;
    }
    .hero .section-title-special {
        margin: 0 0 20px;
    }
}

@media (max-width: 479px) {
    .hero {
        padding: 45px 0 95px;
    }
    .hero h1 {
        font-size: 26px;
        margin: 0 0 20px;
    }
    .hero .section-title-special {
        margin: 0 0 30px;
    }
}


/**
 * Main Search Form
 */

.main-search {
    background: #FFF;
    height: 46px;
    position: relative;
}

.main-search {
    padding-right: 300px;
}

.main-search .form-holder {
    padding-top: 3px;
}

.main-search .form-control {
    border: 0;
    padding-left: 20px;
}

.main-search .dropdown-holder {
    position: absolute;
    top: 5px;
    right: 170px;
}

.main-search .btn-holder {
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
}

.main-search .btn-holder .btn {
    padding-top: 13px;
    padding-bottom: 13px;
}

.main-search .dropdown-toggle {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.main-search .btn-dropdown {
    background: none;
    font-size: 12px;
    text-transform: capitalize;
    position: relative;
    padding-left: 10px;
    padding-right: 15px;
}

.main-search .btn-dropdown:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 1px;
    height: 17px;
    background: #CACACA;
}

.main-search .dropdown-menu {
    margin: 0;
}

.main-search .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 15px;
}

.second-search {
    background: #FFF;
    height: 46px;
    position: relative;
}

.second-search {
    padding-right: 300px;
}

.second-search .form-holder {
    padding-top: 3px;
}

.second-search .form-control {
    border: 0;
    padding-left: 20px;
}

.second-search .dropdown-holder {
    position: absolute;
    top: 1px;
    right: 50px;
}

.second-search .btn-holder {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
}

.second-search .btn-holder .btn {
    padding: 8px 0 6px;
    font-size: 28px;
    line-height: 1;
}

.second-search .dropdown-toggle {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.second-search .btn-dropdown {
    background: none;
    font-size: 12px;
    text-transform: capitalize;
    position: relative;
    padding-left: 10px;
    padding-right: 15px;
}

.second-search .btn-dropdown:after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 1px;
    height: 17px;
    background: #CACACA;
}

.second-search .dropdown-menu {
    margin: 0;
}

.second-search .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 15px;
}

.breadcrumb-form .second-search,
.breadcrumb-form .second-search .form-control {
    background: #E6E6E6;
}

.input-group-search-form-wrapper .form-control {
    border-right: 0;
    height: 40px;
    font-size: 14px;
    border: 0;
}

.input-group-search-form-wrapper .btn {
    height: 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.input-group-search-form-wrapper .form-control:focus {
    border-color: #CCC;
}

.input-group-search-form-wrapper .dropdown.dropdown-select {
    border-radius: 0;
    position: relative;
}

.input-group-search-form-wrapper .dropdown.dropdown-select .btn.dropdown-toggle {
    border-radius: 0;
    background: #FFF;
    border: 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    font-weight: 400;
    position: relative;
    padding-left: 10px;
    font-size: 13px !important;
    text-transform: capitalize;
    border: 0;
}

.input-group-search-form-wrapper .dropdown.dropdown-select:before {
    content: "";
    position: absolute;
    top: 13px;
    left: -1px;
    height: 14px;
    width: 1px;
    background: #CCC;
    z-index: 2;
}

.input-group-search-form-wrapper .dropdown.dropdown-select a {
    color: #868686;
    font-weight: 400;
}

.input-group-search-form-wrapper .dropdown.dropdown-select .dropdown-menu {
    margin: 0;
    left: auto;
    right: 0;
}

.input-group-search-form-wrapper .dropdown.dropdown-select .dropdown-menu a {
    color: #868686;
    font-size: 13px;
}

.input-group-search-form-wrapper .dropdown.dropdown-select .dropdown-menu .active a,
.input-group-search-form-wrapper .dropdown.dropdown-select .dropdown-menu a:hover {
    background: none;
    color: #FFBF00;
}

.input-group-search-form-wrapper .dropdown.dropdown-select .dropdown-menu > li > a {
    padding-left: 15px;
    padding-right: 15px;
}

.input-group-search-form-wrapper .input-group.bg-change-focus-addclass {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.input-group-search-form-wrapper .input-group.bg-change-focus-addclass.focus {
    background: #FFF;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.33);
}

.input-group-search-form-wrapper.size-lg .form-control {
    border-right: 0;
    height: 50px;
    font-size: 14px;
    padding-left: 15px;
}

.input-group-search-form-wrapper.size-lg .btn {
    height: 50px;
}

.input-group-search-form-wrapper.size-lg .dropdown.dropdown-select:before {
    top: 18px;
}

.hero .input-group-search-form-wrapper.size-lg .form-control {
    font-size: 16px;
}

.hero .input-group-search-form-wrapper.size-lg .btn.btn-primary {
    font-size: 20px;
    padding-top: 8px;
}

.hero .input-group-search-form-wrapper.size-lg .form-control:-moz-placeholder {
    color: #B8B8B8;
}

.hero .input-group-search-form-wrapper.size-lg .form-control::-moz-placeholder {
    color: #B8B8B8
}

.hero .input-group-search-form-wrapper.size-lg .form-control:-ms-input-placeholder {
    color: #B8B8B8;
}

.hero .input-group-search-form-wrapper.size-lg .form-control::-webkit-input-placeholder {
    color: #B8B8B8;
}

.hero .input-group-search-form-wrapper .input-group.bg-change-focus-addclass.focus {
    background: #FFBF00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.hero .input-group-search-form-wrapper .input-group.bg-change-focus-addclass.focus .form-control,
.input-group-search-form-wrapper .input-group.bg-change-focus-addclass.focus .btn.dropdown-toggle {
    background: #F2F2F2;
}

.hero .input-group-search-form-wrapper {
    margin: 0 50px;
    border: 5px solid rgba(0, 0, 0, 0.3);
}

.breadcrumb-wrapper .input-group-search-form-wrapper {
    margin-top: 4px;
}

.breadcrumb-wrapper .input-group-search-form-wrapper .form-control,
.breadcrumb-wrapper .input-group-search-form-wrapper .dropdown.dropdown-select .btn.dropdown-toggle {
    background: #E6E6E6;
}

.breadcrumb-wrapper .input-group-search-form-wrapper .input-group.bg-change-focus-addclass.focus {
    background: #FFBF00;
}

.breadcrumb-wrapper .input-group-search-form-wrapper .btn {
    border-left: 0;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .hero .input-group-search-form-wrapper {
        margin: 0;
    }
    .hero .input-group-search-form-wrapper.size-lg .form-control {
        font-size: 13px;
    }
    .hero .input-group-search-form-wrapper .dropdown.dropdown-select .btn.dropdown-toggle {
        font-size: 13px !important;
    }
}

@media (max-width: 479px) {
    .hero .btn.bt.visible-xss {
        border: 0;
        border-top: 1px solid #333;
    }
    .hero .input-group-search-form-wrapper.size-lg .form-control {
        font-size: 12px;
    }
    .hero .input-group-search-form-wrapper .dropdown.dropdown-select .btn.dropdown-toggle {
        font-size: 12px !important;
    }
    .hero .input-group-search-form-wrapper.size-lg .btn.btn-primary {
        height: auto;
        font-size: 14px;
        padding-top: 9px;
        letter-spacing: 1px;
    }
}


/**
 * Category
 */

.category-image-bg {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    margin: 0 0 20px;
    position: relative;
}

.category-image-bg a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    line-height: 250px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}

.category-image-bg a span {
    border: 1px solid #FFF;
    padding: 7px 20px;
}

.category-image-bg a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.category-image-bg a:hover span {
    border-color: #EDB200;
    background: #EDB200;
    color: #333;
}

.category-image-bg.sm {
    height: 117px;
    margin-bottom: 9px;
}

.category-image-bg.sm a {
    font-weight: 700;
    line-height: 117px;
    font-size: 16px;
}

.category-image-bg.sm a span {
    padding: 5px 15px;
}

ul.home-category-list li {
    width: 16.666666667%;
    float: left;
    margin: 0 0 8px;
}

ul.home-category-list li a {
    color: #5d5d5d;
}

ul.home-category-list li a:hover {
    color: #EDB200;
}

@media only screen and (max-width: 1199px) {
    ul.home-category-list li {
        width: 20%;
    }
}

@media only screen and (max-width: 991px) {
    ul.home-category-list li {
        width: 25%;
    }
}

@media only screen and (max-width: 767px) {
    .category-image-bg {
        height: 200px;
    }
    .category-image-bg a {
        line-height: 200px;
        font-size: 14px;
    }
    ul.home-category-list li {
        width: 33.33333333%;
    }
}

@media (max-width: 479px) {
    .category-image-bg {
        height: 150px;
    }
    .category-image-bg a {
        line-height: 150px;
        font-size: 13px;
        letter-spacing: 0;
    }
    .category-image-bg a span {
        border: 1px solid #FFF;
        padding: 5px 5px 3px;
    }
    ul.home-category-list li {
        width: 50%;
    }
}


/**
 * About Us
 */

.image-bg-wrapper.about-us-page-title {}

.image-bg-wrapper.about-us-page-title:before {
    background: rgba(0, 0, 0, 0.35);
}

.about-us-page-title {}


/**
 * Contributor or Author
 */

.featured-contributor-item {
    position: relative;
    width: 100%;
}

.featured-contributor-item a {
    display: block;
}

.featured-contributor-item a:hover {
    opacity: 0.7;
}

.featured-contributor-item .image-wrapper {
    margin: 0;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 12px;
    width: 100%;
    padding: 0;
}

.featured-contributor-item .image-bg {
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 2px;
    float: left;
    width: 50%;
    height: 120px;
}

.featured-contributor-item .image-bg > div {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.featured-contributor-item .contributor {}

.featured-contributor-item .contributor .image {
    width: 60px;
    border-radius: 50%;
    border: 1px solid #D7D7D7;
    padding: 2px;
    float: left;
    margin-right: 10px;
    margin-top: -37px;
    margin-left: 15px;
    -webkit-box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
    background: #FFF;
}

.featured-contributor-item .contributor img {
    width: 56px;
    height: 56px;
}

.featured-contributor-item .contributor h4 {
    font-size: 16px;
    line-height: 1;
}

.author-sm-item {
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px dotted #D7D7D7;
}

.width-50-sm .author-sm-item {
    width: 100%;
    float: left;
}

.author-sm-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.author-sm-item a {
    display: block;
    line-height: 1.2;
    position: relative;
}

.author-sm-item a:after {
    font-family: 'FontAwesome';
    content: "\f101";
    position: absolute;
    top: 7px;
    right: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.author-sm-item a:hover:after {
    margin-right: 5px;
}

.author-sm-item a .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    -webkit-box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
    border: 1px solid #D7D7D7;
    padding: 2px;
}

.author-sm-item .content {
    margin-left: 65px;
}

.author-sm-item a h6 {
    line-height: 1;
    font-weight: 700;
    font-size: 13px;
    margin: 8px 0 5px;
}

.author-sm-item .content span {
    font-size: 18px;
    letter-spacing: 0.5px;
    display: block;
    font-weight: 300;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .width-50-sm .author-sm-item {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .width-50-sm .author-sm-item {
        width: 100%;
    }
}

@media (max-width: 479px) {}


/**
 * Featured
 */

.featured-icon .icon {
    font-size: 30px;
    line-height: 1;
    margin: 0 0 35px;
}

.featured-icon h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 1.2;
}

.promo-box {
    text-align: center;
}

.promo-box h2,
.promo-box h3 {
    margin-top: 0;
    color: #FFF;
}

.promo-box.bg-main,
.promo-box.bg-dark {
    padding: 60px 0 70px;
}

.promo-box.ml {
    margin-left: 15px;
}

.image-bg-promo {
    padding-bottom: 90px;
}

.image-bg-promo h1,
.image-bg-promo h2 {
    margin: 0 0 20px;
    color: #333;
}

.image-bg-promo p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 0 30px;
    line-height: 1.7;
    color: #333;
}

.image-bg-promo .btn-dark {
    color: #FFBF00 !important;
}

.process-wrapper {
    padding-top: 85px;
    padding-bottom: 85px;
}

.process-item {
    margin-bottom: 30px;
    color: #666
}

.process-item .number {
    color: #333;
    width: 70px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 56px;
    position: relative;
}

.process-item .number:after {
    content: "";
    position: absolute;
    right: -5px;
    bottom: 4px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #FFBF00;
}

.process-item .content {
    margin-left: 100px;
    line-height: 1.7;
    font-size: 13px
}

.process-item .content h3,
.process-item .content h4 {
    color: #333;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.featured-sm-wrapper {
    margin-bottom: -15px;
}

.featured-sm-item {
    margin-bottom: 15px;
}

.featured-sm-item .icon {
    width: 45px;
    float: left;
    font-size: 40px;
    color: #EDB200;
}

.featured-sm-item .content {
    margin-left: 45px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.counting-wrapper {
    padding-top: 60px;
    padding-bottom: 50px;
}

.counting-item {
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #333;
    text-transform: uppercase;
}

.counting-item .h1 {
    font-size: 66px;
    line-height: 1;
}

.user-action-wrapper {
    position: relative;
}

.user-action-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 50%;
    width: 1px;
    background: #D7D7D7;
    margin-left: -1px;
}

.user-action-item {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 50px;
}

.user-action-item .icon {
    font-size: 62px;
    color: #FFBF00;
    margin: 0 0 15px;
}

.team-item .image {
    position: relative;
    text-align: center;
}

.team-item .content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 191, 0, 0.8);
    color: #333;
    line-height: 1.2;
    padding: 20px 20px 18px;
}

.team-item .content h5 {
    line-height: 1.2;
    margin: 0 0 5px;
    font-weight: 700;
}

.team-item ul.social {
    text-align: center;
    margin-top: 5px;
}

.team-item ul.social li {
    display: inline-block;
    margin: 0 5px;
    margin-top: 5px;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .user-action-wrapper:after {
        display: none;
    }
    .user-action-wrapper .GridLex-gap-30 > div > div:not(:last-child) {
        border-bottom: 1px solid #D7D7D7;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
		.counting-item {
				font-size: 16px;
				letter-spacing: 3px;
		}

		.counting-item .h1 {
				font-size: 46px;
				margin-bottom: 10px;
		}
		.process-item .content h3 {
				font-size: 18px;
		}
		.user-action-item {
        font-size: 12px;
    }
		.image-bg-promo p {
				font-size: 15px;
		}
}

@media (max-width: 479px) {
    .user-action-item {
        padding: 0 10px;
    }
}


/**
 * Breadcrumb
 */

.breadcrumb-wrapper {
    background: #F0F0F0;
    padding-top: 15px;
    padding-bottom: 13px;
}

.breadcrumb-wrapper h1.page-title {
    margin: 0;
    font-size: 26px;
    line-height: 28px;
    color: #314C82;
}

.breadcrumb-wrapper .hot-line {
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.breadcrumb-wrapper .breadcrumb {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background: none;
    float: right;
}

.breadcrumb-wrapper .breadcrumb a {
    color: #868686;
}

.breadcrumb-wrapper .breadcrumb .active {
    color: #AAA;
}

.breadcrumb-wrapper .breadcrumb a:hover {
    color: #FFBF00;
}

.breadcrumb-wrapper .page-title {
    line-height: 1;
    margin: 3px 0 0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #314C82;
}

.breadcrumb-wrapper.breadcrumb-form {
    padding-top: 22px;
    padding-bottom: 20px;
}

.breadcrumb-wrapper.breadcrumb-form .checkbox-block label {
    padding-top: 1px;
    padding-bottom: 2px;
    font-size: 13px;
}

.breadcrumb-wrapper.breadcrumb-form .checkbox-block:last-child label {
    padding-bottom: 0;
}

.btn-change-search {
    background: transparent;
    margin: 0;
    border: 1px solid #CCC;
    color: #868686;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.change-search-wrapper > div {
    padding-top: 15px;
}

.change-search-wrapper > div .sub-inner {
    padding: 10px;
    background: #DDDDDD;
}

.change-search-wrapper .form-group {
    margin: 0;
}

.change-search-wrapper .form-control {
    margin: 0;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .breadcrumb-wrapper .breadcrumb {
        float: left;
    }
}

@media (max-width: 479px) {}


/**
 * Filter
 */

.filter-wrapper {
    background: #484E4E;
    color: rgba(255, 255, 255, 0.7);
}

.filter-wrapper .collapse-inner {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 5px;
}

.filter-toggle {}

.filter-toggle h4 {
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: #555;
    font-weight: 400;
    letter-spacing: 1px;
}

.filter-toggle h4.active {
    color: #555;
}

.btn-toggle.btn-refine {
    background: none;
    padding: 0;
    margin-top: 26px;
    position: relative;
    padding-right: 27px;
    color: #F5B800;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
}

.btn-toggle.btn-refine:after {
    font-family: "Ionicons";
    content: "\f2d7";
    position: absolute;
    top: -3px;
    right: 4px;
    font-size: 18px;
}

.btn-toggle.btn-refine.collapsed:after {
    content: '\f4a6';
    font-size: 22px;
    top: -5px;
    right: 0;
}

.filter-wrapper .form-group {
    margin: 5px 0 20px;
}

.filter-wrapper .form-control {
    font-size: 13px;
    border-color: #6D7171;
    background: #6D7171;
    color: rgba(255, 255, 255, 0.9);
}

.filter-wrapper .form-control:focus {
    border-bottom-color: rgba(255, 255, 255, 0.7);
}

.filter-wrapper .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.filter-wrapper .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.filter-wrapper .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.filter-wrapper .bootstrap-select .btn.btn-default {
    border-color: #6D7171;
    background: #6D7171;
    color: rgba(255, 255, 255, 0.7);
}

.filter-wrapper .bootstrap-select.open > .dropdown-toggle.btn-default,
.filter-wrapper .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
.filter-wrapper .bootstrap-select.open > .dropdown-toggle.btn-default:focus,
.filter-wrapper .bootstrap-select.open > .dropdown-toggle.btn-default.focus {
    border-color: #6D7171;
    border-bottom-color: rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.9);
}

.filter-wrapper .bootstrap-select .dropdown-toggle .caret {
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
}

.filter-wrapper .bootstrap-select.open .dropdown-toggle .caret {
    border-color: transparent transparent rgba(255, 255, 255, 0.7);
}

.filter-sm-wrapper {
    font-size: 13px;
}

.filter-sm-wrapper .result-count {
    margin-top: 12px;
}

ul.filter-paging {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul.filter-paging.mt {
    margin-top: 11px;
}

ul.filter-paging > li {
    display: inline-block;
    margin: 0 3px;
}

ul.filter-paging > li a {
    color: #5D5D5D;
    display: block;
}

ul.filter-paging > li .form-control {
    width: 40px;
    text-align: center;
    height: 28px;
    display: block;
    float: left;
    margin: 0;
    margin-bottom: -10px;
}

ul.filter-paging > li.paging-nav a {
    background: #F0F0F0;
    width: 30px;
    height: 28px;
    line-height: 24px;
    text-align: center;
    display: block;
    border: 2px solid #F0F0F0;
}

ul.filter-paging > li.paging-nav a:hover {
    background: #FFF;
}

ul.filter-paging > li.grid-type a {
    font-size: 14px;
    padding-top: 2px;
}

ul.filter-paging > li.btn-wrapper {
    margin-right: 15px;
    margin-top: 3px;
    width: 130px;
}

ul.filter-paging > li.btn-wrapper .text {
    font-weight: 400;
}

ul.filter-paging > li.btn-wrapper .input-group {}

ul.filter-paging > li.btn-wrapper .input-group > .bootstrap-select .btn.btn-default,
ul.filter-paging > li.btn-wrapper .input-group > .input-group-addon {
    border: 0;
    background: none;
    padding: 0;
    height: auto;
}

ul.filter-paging > li.btn-wrapper .input-group > .bootstrap-select .btn.btn-default {
    margin-left: 5px;
    border-bottom: 1px solid #F0F0F0;
}

ul.filter-paging > li.btn-wrapper .input-group-sm .bootstrap-select .dropdown-toggle .caret {
    right: 0;
}

ul.filter-paging.pull-right {
    text-align: left;
    margin-bottom: 0;
}

ul.filter-paging.pull-right > li {
    display: block;
    float: left;
    margin-left: 5px;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}

@media (max-width: 479px) {}


/**
 * Category Page
 */

.category-item-wrapper .item {
    position: relative;
}

.category-item-wrapper .item > a {}

.category-item-wrapper .item .category-item-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
    height: 0;
}

.category-item-wrapper .item:hover .category-item-caption {
    opacity: 1;
    height: 34px;
    ;
}

.category-item-wrapper .item .category-item-caption .row > div:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.category-item-wrapper .item .category-item-caption .row a {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1;
    font-size: 15px;
    display: block;
    padding: 10px 10px 8px;
}

.category-item-wrapper .item .category-item-caption .row a:hover {
    color: #FFF;
}

.category-item-wrapper .item.sm:hover .category-item-caption {
    height: 25px;
    ;
}

.category-item-wrapper .item.sm .category-item-caption .row a {
    font-size: 12px;
    padding: 7px 5px 5px;
}

.image-preview {
    border: 1px solid #333;
    background: #333;
    padding: 10px;
    color: #FFF;
    min-width: 150px;
    max-width: 340px;
		margin-left: 70px;
    z-index: 999999999;
}

.image-preview img {
    width: 100%;
    display: block;
}

.image-preview h5,
.image-preview h6 {
    line-height: 1;
    color: #FFF;
    margin: 13px 0 0;
    font-weight: 500;
}

.imagePreview {
    border: 1px solid #333;
    background: #333;
    padding: 10px;
    color: #FFF;
    width: 350px;
    margin-top: 120px;
		margin-left: 70px;
}

.imagePreview img {
    width: 100%;
    display: block;
}

.imagePreview h5,
.imagePreview h6 {
    line-height: 1;
    color: #FFF;
    margin: 13px 0 0;
    font-weight: 500;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {
	.imagePreview { 
			width: 280px; 
		}
}

@media (max-width: 479px) {}

/**
 * Detail Page
 */

.detail-wrapper {
    background: #E6E6E6;
}

h3.detail-title {
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 22px;
}

.detail-meta {
    margin: 0 0 7px;
    line-height: 1.2;
}

.detail-person {
    margin: 30px 0 30px;
}

.detail-person .image {
    width: 40px;
    height: 40px;
    float: left;
}

.detail-person .content {
    margin-left: 50px;
    color: #999;
}

.detail-person a {
    font-weight: 500;
    letter-spacing: 0.7px;
    font-size: 15px;
}

.detail-sm-section:not(:last-child) {
    margin: 0 0 30px;
}

.detail-sm-section h4 {
    line-height: 1.15;
    margin: 0 0 10px;
    text-transform: uppercase;
    color: #777;
}

.detail-sm-section a {
    color: #868686;
}

.detail-sm-section a:hover {
    text-decoration: underline;
}

.detail-sm-section a.detail-collection {
    display: inline-block;
    background: #D4D4D4;
    line-height: 1;
    padding: 7px 12px 6px;
    margin-bottom: 2px;
    font-size: 13px;
    letter-spacing: 1px;
}

.detail-tab ul.nav-tabs {
    border-bottom: 1px solid #CCC;
    margin: 0 0 25px;
}

.detail-tab ul.nav-tabs > li a {
    border-radius: 0;
    color: #999;
}

.detail-tab ul.nav-tabs > li.active a,
.detail-tab ul.nav-tabs > li a:hover {
    background: none;
    color: #333;
    border: 1px solid #CCC;
    border-bottom: 1px solid #E6E6E6;
}

.detail-radio-wrapper .radio-block {
    border-bottom: 1px solid #CCC;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.detail-radio-wrapper .radio-block:first-child {
    border-top: 1px solid #CCC;
    padding-top: 7px;
}

.detail-radio-wrapper .radio-block input[type='radio'] + label {
    background: url(images/radio_unchecked.png) left 8px no-repeat;
}

.detail-radio-wrapper .radio-block input[type='radio']:checked + label {
    background: url(images/radio_checked.png) left 8px no-repeat;
}

.detail-price-sm {
    display: block;
    position: relative;
    color: #999;
    font-size: 12px;
    line-height: 1.5;
}

.detail-price-sm .price {
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 18px;
    font-weight: 700;
    color: #868686;
}

.detail-price-sm .block {
    color: #868686;
    font-weight: 700;
    font-size: 14px;
}

.detail-image a {
    color: #EDB200;
}

.detail-image a:hover {
    color: #FFBF00;
}

.social-share a {
    color: #999;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #CCC;
    line-height: 1;
}

.social-share a:last-child {
    border-right: 0;
}

.social-share a span.block {
    font-size: 21px;
    font-weight: 500;
}

.social-share a:hover {
    color: #EDB200;
}

.social-share a.social-facebook:hover {
    color: #3b5998;
}

.social-share a.social-twitter:hover {
    color: #00aced;
}

.social-share a.social-pinterest:hover {
    color: #cb2027;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .detail-person {
        margin: 30px 0 0;
    }
}

@media (max-width: 479px) {}


/**
 * Testimonial
 */

.slick-testimonial-wrapper {}

.slick-testimonial-wrapper .slick-prev:before,
.slick-testimonial-wrapper .slick-next:before {
    color: #333;
}

.slick-center {}

.slick-testimonial-nav {
    margin: 30px 150px;
}

.slick-testimonial-wrapper .testimonial-man {
    margin: 25px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.slick-testimonial-wrapper .testimonial-man .image {
    border: 3px solid #EAEAEA;
    border-radius: 50%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.slick-testimonial-wrapper .testimonial-man img {
    border-radius: 50%;
}

.slick-testimonial-wrapper .testimonial-man .image:hover {
    cursor: pointer;
}

.slick-testimonial-wrapper .slick-center .testimonial-man {
    margin: 0;
}

.slick-testimonial-wrapper .slick-center .image {
    border: 3px solid #8F37FE;
    margin: 10px;
}

.slick-testimonial-wrapper .slick-center .image:hover {
    cursor: default;
}

.testimonial-long {
    text-align: center;
}

.testimonial-long .saying {
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
    margin-bottom: 50px;
    position: relative;
    padding: 75px;
    background: #F3F3F3;
}

.testimonial-long h4 {
    font-weight: 500;
    margin-bottom: 5px;
}

.testimonial-long .he {
    color: #8F37FE;
}

.testimonial.style-1 blockquote {
    position: relative;
    padding: 75px;
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
    margin-bottom: 50px;
    border-radius: 5px;
    border-bottom: 3px solid #f2f2f2;
    background-color: #fff
}

.testimonial-long .saying:before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 15px solid #f2f2f2;
    -moz-transform: scale(0.9999)
}

.testimonial-long .saying blockquote:after {
    content: "";
    z-index: 2;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 15px solid #fff;
    -moz-transform: scale(0.9999)
}

.testimonial.style-1 blockquote p:last-child {
    margin-bottom: 0
}

.testimonial.style-1 h4 {
    margin-bottom: 20px;
    font-weight: 500
}

.testimonial.style-1 h4 small {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #a8e12a
}


/**
 * Sidebar
 */

.sidebar-inner {}

.sidebar-module + .sidebar-module,
.sidebar-module + .clear {
    margin-top: 50px;
}

.sidebar-module + .clear:last-child {
    margin-top: 0;
}

.sidebar-box {
    padding: 40px 0 0;
}

.sidebar-title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 25px;
}

.sidebar-header {
    clear: both;
}

.sidebar-header h3 {
    float: left;
}

.sidebar-reset-filter {
    float: right;
}

ul.sidebar-category,
ul.sidebar-archives {
    margin-bottom: -10px;
}

ul.sidebar-category li a,
ul.sidebar-archives li a {
    color: #868686;
    line-height: 1.2;
    margin-bottom: 10px;
    display: block;
    position: relative;
    padding-left: 15px;
}

ul.sidebar-category li a:before,
ul.sidebar-archives li a:before {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #FFBF00;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

ul.sidebar-category li a:hover,
ul.sidebar-archives li a:hover {
    color: #FFBF00;
}

ul.sidebar-category li a:hover::before,
ul.sidebar-archives li a:hover::before {
    background: #FFBF00;
}

ul.sidebar-post li {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

ul.sidebar-post li h3 {
    font-size: 15px;
    line-height: 22px;
    margin: -3px 0 5px;
    letter-spacing: 0.7px;
    font-weight: 600;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

ul.sidebar-post li .image {
    width: 80px;
    float: left;
}

ul.sidebar-post li .image img {
    display: block;
}

ul.sidebar-post li .content {
    margin-left: 95px;
}

ul.sidebar-post li .sidebar-post-meta {
    margin: 0;
    color: #A1A1A1;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-style: italic;
}

ul.sidebar-post li a:hover h3 {
    color: #EDB200;
}

ul.sidebar-post.no-image li .content {
    margin-left: 0;
}

.tag-cloud span {
    display: block;
    float: left;
    line-height: 1;
    padding: 5px 7px;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5px
}

.tag-cloud a {
    border: 1px solid #EFEFEF;
    line-height: 1;
    font-size: 12px;
    padding: 5px;
    margin-left: 3px;
    margin-bottom: 5px;
    display: block;
    float: left;
    color: #777;
}

.tag-cloud a:hover {
    background: #FFBF00;
    color: #FFF;
    border-color: #FFBF00;
}

.tag-cloud-wrapper {
    border-top: 1px solid #EFEFEF;
    position: relative;
    margin: 20px 0 0;
    padding: 20px 0 0;
}

.tag-cloud-wrapper .tag-cloud-heading {
    float: left;
}

.tag-cloud-wrapper .tag-cloud {
    margin-left: 50px;
    margin-top: 5px;
}

.sidebar-text-widget ul {
    margin: 0;
    margin-left: 25px;
    padding: 0;
}

.sidebar-text-widget ul li {
    list-style: circle;
}

ul.sidebar-menu {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 0;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
}

.scrollspy-sidebar .nav > li {
    margin-top: -2px;
}

ul.sidebar-menu li > a {
    display: block;
    color: #636363;
    padding: 14px 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    line-height: 1;
    border-right: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-bottom: 1px solid #E8E8E8;
    margin-right: -1px;
    margin-left: -1px;
    margin-bottom: 1px;
    font-size: 12px
}

ul.sidebar-menu > li > h4 {
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 1px solid #E8E8E8;
    margin: 0;
    margin-left: -1px;
    padding: 14px 20px;
}

ul.sidebar-menu > li > a:hover {
    background: none;
    color: #EDB200;
    border-right: 1px solid #FFBF00;
    border-bottom: 1px solid #E8E8E8;
}

ul.sidebar-menu > li > a:focus {
    background: none;
    color: #636363;
    border-color: #EEE;
    border-bottom: 1px solid #E8E8E8;
}

ul.sidebar-menu .active > a,
ul.sidebar-menu .active:hover > a,
ul.sidebar-menu > .active:focus > a {
    font-weight: 600;
    color: #EDB200;
    background: none;
    border-right: 1px solid #FFBF00;
    border-bottom: 1px solid #E8E8E8;
}

ul.sidebar-menu > li:last-child > a {
    border-bottom: 0;
}

ul.sidebar-menu > li > ul {
    border-bottom: 1px solid #E8E8E8;
    margin-top: 15px;
    padding-bottom: 15px;
}

ul.sidebar-menu > li > ul > li > a {
    border: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    font-size: 90%;
    border-bottom: 0 !important;
}

@media only screen and (max-width: 767px) {
    .sidebar {
        margin-bottom: 30px
    }
}


/**
 * Image Overlay
 */

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: opacity .25s ease, background-color .45s ease;
    transition: opacity .25s ease, background-color .45s ease;
    background: rgba(0, 0, 0, 0);
}

.overlay-box:hover .image-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.image-overlay:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: ""
}

.overlay-content {
    display: inline-block;
    vertical-align: middle;
    color: #fff
}

.overlay-icon {
    margin-bottom: 6px;
    color: #fff;
    border: 2px solid #FFF;
    padding: 10px 10px;
    border-radius: 3px;
    -webkit-transition: opacity .25s ease, background-color .45s ease;
    transition: opacity .25s ease, background-color .45s ease;
    opacity: 0;
    filter: alpha(opacity=0);
}

.overlay-box:hover .overlay-icon {
    opacity: 1;
    filter: alpha(opacity=100);
}

.overlay-icon i {
    color: #fff;
    font-size: 56px;
}


/**
 * flex-video
*/

.flex-video {
    position: relative;
    padding-top: 1.5625rem;
    padding-bottom: 53.3%;
    height: 0;
    margin-bottom: 1rem;
    overflow: hidden
}

.flex-video.widescreen {
    padding-bottom: 56.34%
}

.flex-video.vimeo {
    padding-top: 0;
    padding-bottom: 56.5%;
    background: #EEE;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}


/**
 * Pager
 */

.pager-wrappper {
    margin-top: 15px;
    border-top: 1px solid #DEDEDE;
    padding-top: 15px;
}

.pager-inner {
    line-height: 1;
    display: table;
}

.pager-label {
    vertical-align: middle;
    display: table-cell;
    font-weight: 400;
}

.pager-middle-holder {
    display: inline-block;
    margin: 0;
    margin-left: 7px;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
}

.pager-right {
    float: right;
}

.pagination {
    margin: 9px 0 0;
}

.pagination > li > a,
.pagination > li > span {
    padding: 0;
    margin: 0 3px;
    color: #337ab7;
    border: 0;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 23px;
    border-radius: 0;
    text-align: center;
    color: #666;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #EDB200;
    background-color: #FFF;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #FFBF00;
    color: #333;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .pager-right {
        float: left;
    }
}

@media only screen and (max-width: 767px) {}

@media (max-width: 479px) {}


/**
 * Pricing
 */

.price-item-sm {
    display: block;
    background: #F2F2F2;
    text-align: center;
    padding: 40px 30px;
    color: #5d5d5d;
    font-size: 22px;
    font-weight: 300;
}

.price-item-sm .icon {
    font-size: 52px;
    line-height: 52px;
    color: #5d5d5d;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.price-item-sm h4 {
    line-height: 1.2;
    margin: 10px 0 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.price-item-sm span {
    display: block;
    letter-spacing: 1px;
}

.price-item-sm:hover .icon {
    color: #EDB200;
}

.pricing-wrapper-01 .GridLex-gap-30-wrappper {}

.pricing-item-01 {
    margin: 30px 0 10px;
    width: 100%;
    border: 1px solid #D7D7D7;
    background: #F2F2F2;
    border-top: 3px solid #FFBF00;
    position: relative;
}

.pricing-item-01 .pricing-item-best-label {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1.5px;
    width: 0px;
}

.pricing-item-01 .pricing-item-best-label:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 0;
    border-color: transparent #FFBF00 transparent transparent;
    position: absolute;
    top: 0;
    right: -1px;
    color: #333;
}

.pricing-item-01 .pricing-item-best-label span {
    text-align: center;
    color: #333;
    z-index: 1;
    display: block;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 18px;
    right: 7px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
}

.pricing-item-01 .pricing-item.best {
    border-color: #33B6CB;
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.pricing-item-01 .pricing-item-header {
    font-size: 12px;
    padding: 30px 25px;
    line-height: 1.2;
    text-align: center;
}

.pricing-item-01 .pricing-item-header h4 {
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 1;
    margin: 30px 0 15px;
    text-transform: uppercase;
}

.pricing-item-01 .pricing-item-price {
    text-align: right;
    font-size: 13px;
}

.pricing-item-01 .pricing-item-price span {
    display: block;
    font-size: 44px;
    font-weight: 700;
    color: #333;
}

.pricing-item-01 .pricing-item-price span small {
    font-size: 24px;
    font-weight: 600;
    margin-right: 2px;
}

.pricing-item-01 .pricing-item-content {
    padding: 0 25px 30px;
}

.pricing-item-01 .pricing-item-content .radio-block {
    border-bottom: 1px dotted #D7D7D7;
    width: 230px;
    margin: 0 auto;
    padding: 7px 0;
}

.pricing-item-01 .pricing-item-content .radio-block label {
    padding-left: 25px;
}

.pricing-item-01 .pricing-item-content .radio-block .radio-price {
    float: right;
    font-weight: 700;
    font-size: 18px;
}

.pricing-item-01 .pricing-item-content .radio-block .radio-price small {
    font-weight: 400;
    font-size: 13px;
}

.pricing-item-01 ul.pricing-item-list li {
    margin: 10px 0;
    text-align: center;
}

.pricing-wrapper-02 {
    border: 1px solid #D7D7D7;
}

.pricing-wrapper-02 .pricing-header {
    text-align: center;
    background: #FFBF00;
    color: #333;
    padding: 25px 15px;
    border-bottom: 1px solid #D7D7D7;
}

.pricing-wrapper-02 .pricing-header h3,
.pricing-wrapper-02 .pricing-header h4,
.pricing-wrapper-02 .pricing-header h5 {
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
    margin: 0;
}

.pricing-wrapper-02 .pricing-inner {
    padding: 40px 30px 30px;
}

.pricing-item-02 {
    text-align: center;
    padding: 0 0 100px;
    margin-top: 30px;
    position: relative;
    width: 100%;
}

.pricing-item-02.no-bt {
    border-top: 0;
    margin-top: 15px;
    padding: 0;
}

.pricing-item-02 h3,
.pricing-item h4,
.pricing-item h5 {
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #D7D7D7;
    padding-bottom: 15px;
}

.pricing-item-02 .pricing-item-header {
    margin-bottom: 55px;
}

.pricing-item-02 ul.pricing-item-list {
    line-height: 1.4;
    margin: 15px 0;
}

.pricing-item-02 ul.pricing-item-list li {
    padding: 7px 0;
}

.pricing-item-02 ul.pricing-item-list li:nth-child(odd) {
    background: #F5F5F5;
}

.pricing-item-02 ul.pricing-item-list li a {
    font-weight: 400;
    color: #636363;
    position: relative;
    display: block;
    margin-left: -15px;
}

.pricing-item-02 ul.pricing-item-list li a:after {
    font-family: 'FontAwesome';
    content: "\f178";
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 11px;
}

.pricing-item-02 ul.pricing-item-list li a:hover {
    color: #FFBF00;
}

.pricing-item-02 .pricing-item.no-bt ul.pricing-item-list {
    margin: 15px 0 0;
}

.pricing-item-02 .pricing-item-price {
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 20px;
    line-height: 1;
    margin: 0;
}

.pricing-item-02 .pricing-item-price small {
    font-size: 14px;
}

.pricing-item-02 .pricing-item-price .not-this {
    font-size: 14px;
    text-decoration: line-through;
    color: #BBB;
    font-weight: 400;
}

.pricing-item-02 .pricing-item-absolute-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    font-size: 12px;
    line-height: 1.4;
    border-top: 1px solid #D7D7D7;
    padding-top: 20px;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .price-item-sm {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
		.price-item-sm {
				font-size: 18px;
				font-weight: 300;
		}

		.price-item-sm .icon {
				font-size: 42px;
				line-height: 42px;
		}

		.price-item-sm h4 {
				font-size: 14px;
		}
}

@media (max-width: 479px) {}


/**
 * Tab
*/

.tab-style-01-wrapper > ul.tab-nav {
    text-align: center;
}

.tab-style-01-wrapper > ul.tab-nav li {
    display: inline-block;
    margin: 0;
    margin-right: 5px;
}

.tab-style-01-wrapper > ul.tab-nav li:first-child {
    margin-right: 5px;
}

.tab-style-01-wrapper > ul.tab-nav li a {
    font-size: 15px;
    font-weight: 400;
    color: #314C82;
    border: 1px solid #314C82;
    display: block;
    line-height: 1;
    padding: 10px 20px;
    letter-spacing: 1.2px;
}

.tab-style-01-wrapper > ul.tab-nav li a:hover,
.tab-style-01-wrapper > ul.tab-nav li.active a,
.pricing-item-content ul.tab-nav li.active a:hover {
    background: #314C82;
    color: #FFF;
}

.tab-style-02-wrapper ul.tab-nav {
    text-align: center;
    border-bottom: 1px solid #D7D7D7;
    margin: 5px 0 40px;
}

.tab-style-02-wrapper ul.tab-nav > li {
    display: inline-block;
    margin: 0 5px;
}

.tab-style-02-wrapper ul.tab-nav > li:first-child {
    margin-right: 5px;
}

.tab-style-02-wrapper ul.tab-nav > li a {
    font-size: 14px;
    font-weight: 500;
    color: #888;
    border: 1px solid #D7D7D7;
    border-bottom: 0;
    display: block;
    line-height: 1;
    padding: 20px 30px 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
}

.tab-style-02-wrapper ul.tab-nav > li a:hover,
.tab-style-01-wrapper > ul.tab-nav > li.active a,
.pricing-item-content ul.tab-nav > li.active a:hover {
    color: #FFBF00;
}

.tab-style-02-wrapper ul.tab-nav > li a:before,
.tab-style-02-wrapper ul.tab-nav > li a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.tab-style-02-wrapper ul.tab-nav > li a:before {
    top: -1px;
    height: 2px;
    background: transparent;
}

.tab-style-02-wrapper ul.tab-nav > li.active a:before {
    left: -1px;
    right: -1px;
    background: #FFBF00;
}

.tab-style-02-wrapper ul.tab-nav > li a:after {
    bottom: -1px;
    height: 1px;
    background: transparent;
}

.tab-style-02-wrapper ul.tab-nav > li.active a:after {
    background: #FFF;
}

.pricing-item-content ul.tab-nav {
    text-align: center;
}

.pricing-item-content ul.tab-nav li {
    display: inline-block;
    margin: 0;
}

.pricing-item-content ul.tab-nav li:not(:last-child) {
    margin-right: -5px;
}

.pricing-item-content ul.tab-nav li a {
    font-size: 12px;
    font-weight: 400;
    color: #636363;
    border: 1px solid #314C82;
    display: block;
    line-height: 1;
    padding: 4px 12px;
}

.pricing-item-content ul.tab-nav li a:hover,
.pricing-item-content ul.tab-nav li.active a,
.pricing-item-content ul.tab-nav li.active a:hover {
    background: #314C82;
    color: #FFF;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .tab-style-02-wrapper ul.tab-nav > li a {
        font-size: 11px;
        padding: 13px 15px 11px;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 479px) {
    .tab-style-01-wrapper > ul.tab-nav li {
        margin-bottom: 3px;
    }
    .tab-style-02-wrapper ul.tab-nav {
        border-bottom: 0;
    }
    .tab-style-02-wrapper ul.tab-nav > li a {
        border: 0;
        padding: 3px 0 2px;
    }
}


/**
 * Upload Page
*/

ul.uploading-status {
    background: #F0F0F0;
    padding-top: 15px;
}

ul.uploading-status li {
    line-height: 1.2;
    margin: 0 0 12px;
    border-bottom: 1px dotted #CCC;
    padding: 0 15px;
    padding-bottom: 12px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

ul.uploading-status li:last-child {
    border-bottom: 0;
}

.uploaded-item-wrapper {
    border-top: 1px solid #CCC;
    margin: 30px 0 0;
}

.uploaded-item {
    margin-top: 25px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 30px;
}

.uploaded-item .image {
    width: 200px;
    float: left;
    margin-top: 5px;
}

.uploaded-item .content {
    margin-left: 220px;
}

.tagging-cloud {
    margin: 20px 0;
    margin-bottom: 17px;
}

.tagging-cloud a {
    display: block;
    float: left;
    background: #F0F0F0;
    color: #EDB200;
    line-height: 1;
    padding: 4px 7px;
    margin-bottom: 3px;
    margin-right: 3px;
    font-size: 12px;
    letter-spacing: 1.5px;
    border: 1px solid #D7D7D7;
}

.tagging-cloud a:hover {
    color: #EDB200;
    border-color: #EDB200;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .uploaded-item .image {
        width: 150px;
    }
    .uploaded-item .content {
        margin-left: 170px;
    }
}

@media (max-width: 479px) {
    .uploaded-item .image {
        width: 100%;
        margin-bottom: 10px;
    }
    .uploaded-item .content {
        margin-left: 0;
    }
}


/**
 * Blog
 */

.blog-item {
    display: block;
    margin-bottom: 20px;
    background: #FFF;
    overflow: hidden;
    margin-right: 10px;
}

.blog-item:last-child {
    margin-bottom: 0
}

.blog-media {
    position: relative;
    background: #eee;
}

.blog-media a {
    display: block;
}

.blog-content {
    padding: 30px 0;
    position: relative;
    line-height: 2.0;
}

.blog-content h3 {
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
}

.blog-content h3 a {
    color: #333;
}

.blog-content h3 a:hover {
    color: #EDB200;
}

.blog-entry {
    margin-bottom: 18px;
}

.blog-entry ul,
.blog-entry ol {
    list-style: disc;
    margin-left: 20px;
    line-height: 25px;
    margin-bottom: 22px;
}

.blog-entry ul li,
.blog-entry ol li {
    margin-bottom: 7px;
}

.blog-entry ul ul,
.blog-entry ol ol {
    margin-top: 7px;
    margin-bottom: 7px;
}

.blog-entry ol {
    list-style: decimal;
}

.btn-blog {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
}

ul.blog-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

ul.blog-meta li {
    display: block;
    margin: 8px 0 0;
    line-height: 1.2;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #A1A1A1;
}

ul.blog-meta li i {
    color: #A1A1A1;
    margin-right: 7px;
    padding-left: 1px;
}

ul.blog-meta li > div {
    border-top: 1px dotted #DEDEDE;
    padding-top: 11px;
    padding-bottom: 5px;
}

.blog-extra {
    background: #FAFAFA;
    padding: 25px 25px 0;
    margin: 0 0 50px;
}

.share-it {
    float: right
}

.share-it span {
    float: left;
    text-align: left;
    margin-right: 5px
}

.share-it .social {
    float: right;
    margin-top: -5px
}

.blog-pager-wrapper {
    position: relative;
    background: #F2F2F2;
    margin: 40px 0 50px;
    padding: 0 25px;
}

.blog-pager-wrapper h4 {
    margin: 0;
    line-height: 1.2
}

.blog-pager-wrapper h4 a {
    color: #333;
    position: relative;
    display: block;
    min-height: 44px;
    text-transform: uppercase;
    padding
}

.blog-pager-wrapper h4 a:hover {
    color: #FFBF00
}

.blog-pager-wrapper h4 a:before {
    font-family: 'FontAwesome';
    position: absolute;
    top: 2px;
    font-size: 12px;
    color: #FFBF00;
    o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out
}

.blog-pager-wrapper h4 {
    padding: 30px 25px 20px;
}

.blog-pager-wrapper h4.blog-pager-prev {
    text-align: right;
    border-right: 1px solid #FFF
}

.blog-pager-wrapper h4.blog-pager-prev a:before {
    content: "\f177";
    left: -20px
}

.blog-pager-wrapper h4.blog-pager-prev a:hover:before {
    left: -25px;
}

.blog-pager-wrapper h4.blog-pager-next a:before {
    content: "\f178";
    right: -20px
}

.blog-pager-wrapper h4.blog-pager-next a:hover:before {
    right: -25px;
}

.blog-extra ul.tag-cluod li {
    margin: 0 3px 0 0;
    line-height: 20px
}

.blog-author {
    padding: 0;
    position: relative
}

.author-details {
    margin-left: 120px;
    position: relative;
}

.blog-author h4 {
    line-height: 1;
    margin-bottom: 20px;
}

.author-label {
    position: absolute;
    width: 100px
}

.author-label img {
    width: 100%
}

.blog-author .social {
    float: right;
    margin-top: -5px;
}

.blog-author .social a {
    margin-left: 15px;
}

#comment-wrapper {
    background: #FFF;
    padding: 0 0 20px;
    position: relative
}

ul.comment-item {
    list-style: none;
    padding: 0;
    margin: 0
}

ul.comment-item li {
    position: relative;
    display: block;
    padding-left: 100px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #D7D7D7
}

ul.comment-item li li:last-child,
ul.comment-item li li li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0
}

ul.comment-item li > ul {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #D7D7D7
}

.comment-item .comment-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 40px
}

.comment-item .comment-avatar img {
    width: 100%;
    width: 100%;
    border-radius: 50%
}

.comment-item .comment-time {
    display: block;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    color: #989B8E;
    margin-bottom: 10px
}

.comment-item .comment-author {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.comment-item a.comment-reply {
    float: right;
    font-size: 10px;
    line-height: 1;
    padding: 5px 7px 4px;
    text-transform: uppercase;
    border: 1px solid #FFBF00;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #FFBF00;
    color: #333;
    font-weight: 700;
    letter-spacing: 1px;
}

.comment-item a.comment-reply:hover {
    background: #EDB200;
    background: #FFF;
}

.blog-item.blog-single ul.blog-meta {
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
}

.blog-item.blog-single ul.blog-meta li {
    float: left;
    width: 50%;
    padding: 0 15px;
}

.blog-item.blog-single ul.blog-meta li:nth-last-child(2) > div,
.blog-item.blog-single ul.blog-meta li:last-child > div {
    border-bottom: 1px dotted #DEDEDE;
    padding-bottom: 12px;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .blog-item {
        margin-right: 0;
    }
    ul.comment-item li ul {
        margin-left: -30px;
    }
    ul.comment-item li ul ul {
        margin-left: -60px;
    }
}

@media (max-width: 479px) {
    ul.comment-item li ul {
        margin-left: -60px;
    }
    ul.comment-item li ul ul {
        margin-left: -90px;
    }
}


/**
 * Footer
 */

.main-footer {
    background: #F2F2F2;
    color: #333;
    padding-top: 70px;
    padding-bottom: 60px;
}

.main-footer a {
    color: #555;
    font-weight: 400;
}

.main-footer a:hover {
    color: #FFBF00;
}

ul.menu-footer {
    margin-top: 3px;
}

ul.menu-footer li {
    margin-bottom: 7px;
}

ul.menu-footer li a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.4;
}

.newsletter-footer .form-control {
    border-color: #E3E3E3;
    font-size: 13px;
    background: #E3E3E3;
    height: 44px;
}

.newsletter-footer .form-control:focus {
    border-color: #E0E0E0;
    background: #E0E0E0;
}

.newsletter-footer .btn {
    height: 44px !important;
    margin: 0;
}

.newsletter-footer {
    margin: 20px 0 10px;
}

.social-footer {
    text-align: left;
}

.social-footer a {
    font-size: 34px;
    margin: 5px;
}

h4.footer-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #A3A3A3;
    margin: 0 0 15px;
}

h5.footer-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #A3A3A3;
    margin: 0 0 5px;
}

p.footer-phone-number {
    color: #A3A3A3;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 2px;
    letter-spacing: 3px;
}

p.footer-email {
    color: #A3A3A3;
    font-size: 13px;
}

p.footer-email a {
    border-bottom: 1px dotted #D1D1D1;
}

p.footer-email a:hover {
    border-bottom: 1px solid #FFBF00;
}

ul.footer-faq {
    margin: 0;
}

ul.footer-faq li {
    margin: 0 0 15px;
    position: relative;
    padding-left: 20px;
}

ul.footer-faq li:before {
    font-family: 'FontAwesome';
    content: "\f29c";
    position: absolute;
    top: 2px;
    left: 0;
    color: #AAA;
}

ul.footer-faq li a {
    border-bottom: 1px dotted #D1D1D1;
    font-size: 13px;
    padding-bottom: 2px;
}

ul.footer-faq li a:hover {
    border-bottom: 1px solid #FFBF00;
}

.secondary-footer {
    background: #292929;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 13px;
}

ul.secondary-footer-menu {
    margin: 0;
}

ul.secondary-footer-menu li {
    float: right;
}

ul.secondary-footer-menu li:not(:first-child):after {
    content: "|";
    margin: 0 15px;
}

ul.secondary-footer-menu li a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 13px;
}

ul.secondary-footer-menu li a:hover {
    color: #FFF;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    ul.menu-footer li {
        width: 50%;
        float: left;
    }
		ul.menu-footer li a {
				font-size: 13px;
		}
		ul.footer-faq li a {
				font-size: 12px;
		}
    .footer-wrapper .footer-newsletter h4 {
        text-align: left;
    }
    .footer-wrapper .secondary-footer,
    .footer-wrapper-09 ul.secondary-footer-menu {
        text-align: center;
    }
    .footer-wrapper ul.secondary-footer-menu li {
        float: none;
        display: inline-block;
    }
    .footer-wrapper ul.secondary-footer-menu li:after {
        content: "|";
        margin: 0 15px;
    }
    .footer-wrapper ul.secondary-footer-menu li:Last-child::after {
        display: none;
    }
		.social-footer a {
				font-size: 20px;
		}
}

@media (max-width: 479px) {
    ul.menu-footer li {
        width: 100%;
    }
}


/**
 * Login Modal
 */

.modal.modal-border-transparent .modal-content {
    border: 5px solid rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

.modal.modal-login .modal-content {
    width: 380px;
    margin: 0 auto;
    position: relativel
}

.modal.modal-login .modal-content h4 {
    margin: -15px -15px 30px;
    text-transform: uppercase;
    text-align: center;
    background: #F2F2F2;
    line-height: 1;
    padding: 15px 10px 13px;
    letter-spacing: 1px;
}

.modal.modal-login .modal-content .form-group {
    margin: 0 0 1px;
    ;
}

.modal.modal-login .modal-content .form-control {
    height: 40px;
    border-color: #E5E5E5;
    background: #E5E5E5;
}

.modal.modal-login .form-control::-moz-placeholder {}

.modal.modal-login .form-control:-ms-input-placeholder {}

.modal.modal-login .form-control::-webkit-input-placeholder {}

.modal.modal-login .modal-footer {
    border-top: 1px solid #E5E5E5;
}

.modal.modal-login .btn-link {
    padding: 0;
    line-height: 1;
    font-size: 12px;
    color: #314C82;
    font-weight: 700;
    margin-top: 1px;
}

.modal.modal-login .btn-link:hover {
    color: #6382C2;
}

.modal .modal-content .btn-close {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1052;
    font-size: 12px;
}

.modal-seperator {
    border-bottom: 1px solid #E5E5E5;
    text-align: center;
    margin: 25px 0 40px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.modal-seperator span {
    width: 40px;
    height: 40px;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 38px;
    display: block;
    margin-bottom: -20px;
    background: #FFF;
    font-weight: 700;
    font-family: 'thaisans', sans-serif;
}

.login-modal-tab-wrapper {}

ul.login-modal-tab-nav {
    background: #EAEAEA;
    padding: 0;
    margin: 0;
}

ul.login-modal-tab-nav li {
    float: left;
    width: 50%;
    text-align: center;
}

ul.login-modal-tab-nav li a {
    display: block;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #565656;
}

ul.login-modal-tab-nav li.active a {
    background: #FFF;
}

ul.login-modal-tab-nav li a:hover {
    color: #489FF0;
}

.btn.btn-facebook {
    background: #3b5998;
    color: #FFF;
}

.btn.btn-facebook:hover {
    opacity: 0.8;
}

.login-modal-tab-wrapper .form-control {
    background: #FFF;
    height: 40px;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}

@media (max-width: 479px) {
    .modal.modal-login .modal-content {
        width: 100%;
    }
}


/**
 * Social Share
 */

ul.social-share-sm {
    position: relative;
    display: inline-block;
    line-height: 1;
    float: left
}

ul.social-share-sm li {
    display: inline-block;
    margin: 0 0 5px
}

ul.social-share-sm li span,
ul.social-share-sm li a {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px
}

ul.social-share-sm:after,
ul.social-share-sm li span:after,
ul.social-share-sm li a:after {
    content: "";
    position: absolute;
    right: 0;
    top: 1px;
    width: 1px;
    height: 13px;
    background: #E3E3E3
}

ul.social-share-sm.pull-right {
    margin-right: -10px
}

ul.social-share-sm.pull-right:after {
    display: none
}

ul.social-share-sm li a:after {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 6px;
    right: -3px
}

ul.social-share-sm li:last-child a {
    margin-right: 0
}

ul.social-share-sm li:last-child a:after {
    display: none
}

ul.social-share-sm li a {
    font-weight: 400;
    color: #999
}

ul.social-share-sm li a:hover {
    color: #FFBF00
}

ul.social-share-sm.for-useful {
    float: right
}

ul.social-share-sm.for-useful:after {
    display: none
}

ul.social-share-sm.for-useful li:not(:last-child) {
    margin-right: 10px
}

ul.social-share-sm.for-useful li span {
    margin-right: 0
}

ul.social-share-sm.for-useful li a {
    margin-right: 0;
    padding-right: 0
}

ul.social-share-sm.for-useful li a:after {
    display: none
}

.review-list ul.social-share-sm {
    margin-top: 20px
}


/**
 * Contact Us
 */

.contact-form-wrapper .help-block {
    line-height: 1.2;
    font-size: 12px;
}

.contact-text-featured-item h5 {
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.contact-text-featured-item .content p {
    font-weight: 300;
}

.contact-social a {
    margin-right: 5px;
}

.infoBox {
    margin-top: 20px;
    padding: 25px;
    background: #fff!important;
    border: 1px solid #FFBF00;
    font-size: 14px;
    line-height: 18px;
    width: 300px!important;
    margin-left: -150px;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.22);
}

.infoBox:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #FFBF00;
    border-width: 10px;
    margin-left: -10px;
}

.infoBox > img {
    height: 16px;
    width: 16px;
    overflow: hidden;
    position: absolute!important;
    top: -8px;
    right: -8px;
    display: block;
    background: #FFF;
    border-radius: 50%;
    border: 1px solid #FFF;
}

.infoBox > img:hover {}

.infoBox h4,
.infoBox h5 {
    margin-top: 0;
    line-height: 1;
}

.infoBox #infobox {
    position: relative
}

.infobox-wrapper {
    display: none
}

.infobox-address .address-text {
    line-height: 1.2;
    margin: 15px 0;
}

.infobox-address ul.address-list li {
    margin: 3px 0;
    position: relative;
    padding-left: 25px;
    line-height: 1.2;
}

.infobox-address ul.address-list li i {
    position: absolute;
    top: 0;
    left: 0;
}

.contact-featured {
    line-height: 22px;
    color: #999;
    margin: 0 0 15px;
}

.contact-featured h4 {
    background: #FCF8F7;
    position: relative;
    padding: 13px 20px;
    padding-left: 60px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 0 25px;
}

.contact-featured h4 .icon {
    background: #F04F38;
    color: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    width: 44px;
    padding-top: 13px;
    font-size: 17px;
}

.address-square-wrapper {
    padding-right: 15px;
}

.address-square-wrapper.no-pd {
    padding-right: 0;
}

.address-square {
    text-align: center;
    width: 50%;
    float: left;
    line-height: 24px;
    margin: 0 0 30px;
}

.address-square .inner {
    background: #F5F5F5;
    height: 200px;
    padding: 50px 20px 30px;
}

.address-square:nth-child(odd) {
    padding-right: 15px;
}

.address-square:nth-child(even) {
    padding-left: 15px;
}

.address-square .icon {
    display: block;
    font-size: 32px;
    margin: 0 0 10px;
}

ul.contact-list {
    margin-top: 30px;
}

ul.contact-list li {
    line-height: 1;
    margin: 0 0 25px;
}

ul.contact-list li .icon {
    width: 20px;
    float: left;
}

ul.contact-list li .content {
    margin-left: 20px;
}

ul.contact-list li h6 {
    line-height: 1;
    margin: 0 0 5px;
}

.contact-branch-wrapper {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px;
}

.contact-branch-item {
    border: 1px solid #CCC;
    padding: 25px;
    margin: 0 10px 20px;
    width: 100%;
    line-height: 1.2;
}

.contact-branch-item h5,
.contact-branch-item h6 {
    line-height: 1.2;
    margin: 0 0 15px;
}


/**
 * Faq Page
 */

.faq-wrapper {
    padding-left: 15px;
}

.faq-wrapper h3 {
    margin: 0 0 25px
}

.faq-wrapper .panel {
    margin: 0 0 10px;
}

.faq-wrapper .panel-group {
    margin: 0;
    padding: 0;
}

.faq-section {
    border-bottom: 1px solid #D7D7D7;
    margin: 0 0 50px;
    padding-bottom: 20px;
}

.faq-section h4 {
    margin: 8px 0 0
}

.faq-section .panel-body {
    padding-top: 0;
    padding-bottom: 10px
}

.faq-wrapper .section-title h2 {
    margin-top: -7px;
}

.faq-wrapper .section-title h4 {
    margin-top: -3px;
}

.faq-wrapper > .faq-thread {
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.faq-wrapper > .faq-thread h4 {
    margin: 0 0 15px;
}

.faq-thread ul {
    list-style: disc !important;
    margin-left: 20px !important;
}

.faq-thread ul {
    margin-left: 15px;
}

.faq-thread ol {
    list-style: decimal !important;
    margin-left: 20px !important;
}

.faq-thread ol ol {
    margin-left: 15px;
}

.panel-body .faq-thread {
    padding-top: 20px;
}

.faq-wrapper.alt {
    padding-left: 0;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .faq-wrapper {
        padding-left: 0;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) {}

@media (max-width: 479px) {}


/**
 * Static Page
 */

.for-static-page .sidebar-module {
    margin-right: 30px
}

ul.static-page-menu li a {
    display: block;
    color: #636363;
    padding: 8px 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    line-height: 1;
    padding-left: 0;
    border-left: 4px solid #FFF!important;
    border-right: 4px solid #FFF;
    margin-right: -4px;
    margin-left: -4px;
    margin-bottom: 1px;
    font-size: 12px
}

ul.static-page-menu li a:hover,
ul.static-page-menu li.active a {
    border-right: 4px solid #F56961;
    color: #F56961
}

.static-wrapper {
    margin-left: 15px;
}

.static-wrapper h1:first-child,
.static-wrapper h2:first-child,
.static-wrapper h3:first-child,
.static-wrapper h4:first-child,
.static-wrapper h5:first-child,
.static-wrapper h6:first-child {
    margin-top: 0
}

.static-wrapper ul,
.static-wrapper ol {
    list-style: disc;
    margin-left: 20px;
    line-height: 25px
}

.static-wrapper ul li,
.static-wrapper ol li {
    margin-bottom: 7px
}

.static-wrapper ul ul,
.static-wrapper ol ol {
    margin-top: 7px
}

.static-wrapper > ul,
.static-wrapper > ol {
    margin-bottom: 15px
}

.static-wrapper ol {
    list-style: decimal
}

.static-wrapper .section-title h2 {
    margin-top: -7px;
}

@media only screen and (max-width: 991px) {
    .for-static-page .sidebar-module {
        margin-right: 15px
    }
    .static-wrapper {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .for-static-page .sidebar-module {
        margin-right: 0
    }
}